@font-face {
    font-family: 'Veneer';
    src: url('../fonts/VeneerClean-Reg.woff2') format('woff2'),
    url('../fonts/VeneerClean-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UT Laurelle Press';
    src: url('../fonts/UT-Laurelle-Press.eot');
    src: url('../fonts/UT-Laurelle-Press.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UT-Laurelle-Press.woff2') format('woff2'),
    url('../fonts/UT-Laurelle-Press.woff') format('woff'),
    url('../fonts/UT-Laurelle-Press.svg#UT Laurelle Press') format('svg');
}

@font-face {
    font-family: 'MetaSerifPro';
    src: url('../fonts/MetaSerifPro-Book.woff2') format('woff2'),
    url('../fonts/MetaSerifPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro';
    src: url('../fonts/MetaSerifPro-LightItalic.woff2') format('woff2'),
    url('../fonts/MetaSerifPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'MetaSerifPro';
    src: url('../fonts/MetaSerifPro-Bold.woff2') format('woff2'),
    url('../fonts/MetaSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}