/*!
Theme Name: jb-web
Author: Raphael Segerman
Version: 1.0.0
Text Domain: jb-web
*/
.ambassadors .ambassadors-grid:after, .beer-section .beer-section-inner .beer-content .beer-content-stats:after, .our-beers .our-beers-inner .our-beers-beer:after {
  content: "";
  display: table;
  clear: both;
}

.beer-section.beer-section-dark, .site-footer, .age-restriction {
  background-image: url("assets/img/footer-texture.png");
  background-color: #333132;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow-x: hidden;
}
html.mobile-menu-active, html.search-active,
body.mobile-menu-active,
body.search-active {
  overflow: hidden;
}

body {
  margin: 0;
  padding-top: 128px;
  color: #333132;
  font-family: "MetaSerifPro", serif;
  font-size: 16px;
  line-height: 1.6;
}
@media (max-width: 1200px) {
  body {
    padding-top: 80px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
}

.container {
  max-width: 1400px;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 1480px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Veneer", sans-serif;
  font-weight: normal;
  line-height: 1;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  transition: 0.1s;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.btn, .our-journal .posts-grid .posts-column .post .post-inner .post-title a,
.button,
button,
input[type=submit] {
  display: inline-block;
  padding: 0 0 8px;
  color: #404041;
  font-family: "Veneer", sans-serif;
  font-size: 32px;
  background: transparent;
  border-top: none;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid;
  line-height: 1;
  letter-spacing: 1px;
  appearance: none;
  transition: 0.2s;
}
@media (max-width: 992px) {
  .btn, .our-journal .posts-grid .posts-column .post .post-inner .post-title a,
.button,
button,
input[type=submit] {
    padding: 0 0 4px;
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .btn, .our-journal .posts-grid .posts-column .post .post-inner .post-title a,
.button,
button,
input[type=submit] {
    padding: 0 0 4px;
    font-size: 20px;
    border-width: 3px;
  }
}
.btn:hover, .our-journal .posts-grid .posts-column .post .post-inner .post-title a:hover,
.button:hover,
button:hover,
input[type=submit]:hover {
  background: transparent;
  color: #EE3E3A;
  cursor: pointer;
}
.btn.btn-red, .our-journal .posts-grid .posts-column .post .post-inner .post-title a.btn-red,
.button.btn-red,
button.btn-red,
.age-restriction .age-gate-wrapper .age-gate .age-gate-form button,
input[type=submit].btn-red {
  color: #EE3E3A;
}
.btn.btn-red:hover, .our-journal .posts-grid .posts-column .post .post-inner .post-title a.btn-red:hover,
.button.btn-red:hover,
button.btn-red:hover,
.age-restriction .age-gate-wrapper .age-gate .age-gate-form button:hover,
input[type=submit].btn-red:hover {
  color: #404041;
}
.section-dark .btn.btn-red:hover, .section-dark .our-journal .posts-grid .posts-column .post .post-inner .post-title a.btn-red:hover, .our-journal .posts-grid .posts-column .post .post-inner .post-title .section-dark a.btn-red:hover,
.section-dark .button.btn-red:hover,
.section-dark button.btn-red:hover,
.section-dark .age-restriction .age-gate-wrapper .age-gate .age-gate-form button:hover,
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .section-dark button:hover,
.section-dark input[type=submit].btn-red:hover {
  color: #fff;
}
.btn.btn-white, .our-journal .posts-grid .posts-column .post .post-inner .post-title a.btn-white,
.button.btn-white,
button.btn-white,
input[type=submit].btn-white {
  color: #fff;
}
.btn.btn-white:hover, .our-journal .posts-grid .posts-column .post .post-inner .post-title a.btn-white:hover,
.button.btn-white:hover,
button.btn-white:hover,
input[type=submit].btn-white:hover {
  color: #EE3E3A;
}

.btn-container {
  text-align: center;
}

.section-header.section-header-fancy {
  margin-bottom: 64px;
}
@media (max-width: 1200px) {
  .section-header.section-header-fancy {
    margin-bottom: 48px;
  }
}
@media (max-width: 480px) {
  .section-header.section-header-fancy {
    margin-bottom: 40px;
  }
}
.section-header.section-header-fancy .section-title,
.section-header.section-header-fancy .section-subtitle {
  margin-top: 0;
  margin-bottom: 0;
}
.section-header.section-header-fancy .section-title {
  color: #EE3E3A;
  font-size: 50px;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  .section-header.section-header-fancy .section-title {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .section-header.section-header-fancy .section-title {
    font-size: 32px;
  }
}
.section-header.section-header-fancy .section-subtitle {
  margin-top: -4px;
  font-family: "UT Laurelle Press", serif;
  font-size: 78px;
}
.section-dark .section-header.section-header-fancy .section-subtitle {
  color: #fff;
}
@media (max-width: 1200px) {
  .section-header.section-header-fancy .section-subtitle {
    margin-top: 0;
    font-size: 56px;
  }
}
@media (max-width: 480px) {
  .section-header.section-header-fancy .section-subtitle {
    font-size: 44px;
  }
}
.section-header.section-header-fancy .section-header-inner {
  display: flex;
  margin-top: -8px;
  margin-left: -166px;
}
@media (max-width: 1200px) {
  .section-header.section-header-fancy .section-header-inner {
    margin-top: 4px;
    margin-left: -186px;
  }
}
@media (max-width: 480px) {
  .section-header.section-header-fancy .section-header-inner {
    margin-top: 8px;
    margin-left: -216px;
  }
}
.section-header.section-header-fancy .section-header-inner .section-header-pattern {
  margin-right: 24px;
}
@media (max-width: 1200px) {
  .section-header.section-header-fancy .section-header-inner .section-header-pattern {
    margin-right: 16px;
  }
}
@media (max-width: 480px) {
  .section-header.section-header-fancy .section-header-inner .section-header-pattern {
    margin-right: 12px;
  }
}
.section-header.section-header-large .section-title {
  margin: 0;
  font-family: "UT Laurelle Press", serif;
  font-size: 180px;
  color: #efefef;
}
@media (max-width: 1400px) {
  .section-header.section-header-large .section-title {
    font-size: 160px;
  }
}
@media (max-width: 1200px) {
  .section-header.section-header-large .section-title {
    font-size: 140px;
  }
}
@media (max-width: 992px) {
  .section-header.section-header-large .section-title {
    font-size: 100px;
  }
}
@media (max-width: 768px) {
  .section-header.section-header-large .section-title {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .section-header.section-header-large .section-title {
    font-size: 72px;
  }
}

.age-restriction .age-gate-wrapper {
  background-image: url("/wp-content/themes/jb-web/assets/img/age-gate/age-gate-bg.png");
  background-size: 82%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
@media (max-width: 992px) {
  .age-restriction .age-gate-wrapper {
    background-size: cover;
    background-position: bottom;
  }
}
.age-restriction .age-gate-wrapper .age-gate {
  padding: 0;
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form {
  max-width: 100%;
  padding: 50px 24px;
  background: none;
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .age-gate-logo {
  max-width: 360px;
  margin: 0 auto 40px;
}
@media (max-width: 768px) {
  .age-restriction .age-gate-wrapper .age-gate .age-gate-form .age-gate-logo {
    max-width: 300px;
  }
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .age-gate-challenge {
  margin: 0 0 24px;
  font-family: "Veneer", sans-serif;
  font-size: 60px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .age-restriction .age-gate-wrapper .age-gate .age-gate-form .age-gate-challenge {
    font-size: 40px;
    line-height: 1.2;
  }
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .age-gate-error-message {
  font-family: "Veneer", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #EE3E3A;
  letter-spacing: 2px;
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form button {
  height: 48px;
  padding: 0 48px 4px;
  line-height: 48px;
  font-size: 24px;
  border: 2px solid #EE3E3A;
  letter-spacing: 1px;
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form button:hover {
  background: #EE3E3A;
  color: #fff;
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form button.age-gate-submit-yes {
  margin: 0 12px 10px 0;
}
@media (max-width: 480px) {
  .age-restriction .age-gate-wrapper .age-gate .age-gate-form button {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .social-links {
  margin-top: 72px;
}
@media (max-width: 768px) {
  .age-restriction .age-gate-wrapper .age-gate .age-gate-form .social-links {
    margin-top: 52px;
  }
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .social-links a {
  margin: 0 12px;
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .social-links a img {
  transition: 0.2s;
}
.age-restriction .age-gate-wrapper .age-gate .age-gate-form .social-links a:hover img {
  filter: invert(1);
}

.site-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 128px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
  background: #fff;
  border-bottom: 1px solid #BBBDBF;
  transition: 0.5s ease;
  z-index: 10;
}
@media (max-width: 1200px) {
  .site-header {
    height: 80px;
    padding: 0 20px;
  }
}
.site-header.nav-up {
  transform: translateY(-80px);
}
.scrolled .site-header {
  height: 80px;
  padding: 0 20px;
}
.site-header .header-logo {
  display: block;
  max-width: 260px;
  transition: 0.5s ease;
}
.scrolled .site-header .header-logo {
  max-width: 160px;
}
@media (max-width: 1200px) {
  .site-header .header-logo {
    max-width: 160px;
  }
}
@media (max-width: 992px) {
  .site-header .header-logo {
    margin-right: auto;
  }
}
.site-header .header-logo svg {
  display: block;
}
.site-header .menu-toggle:hover {
  cursor: pointer;
}
.site-header .main-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  transition: 0.5s ease;
}
@media (max-width: 992px) {
  .site-header .main-navigation {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 99;
    overflow: hidden;
  }
  .mobile-menu-active .site-header .main-navigation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.site-header .main-navigation .menu-close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 28px 20px;
  z-index: 2;
}
@media (max-width: 992px) {
  .site-header .main-navigation .menu-close {
    display: block;
  }
}
.site-header .main-navigation .menu-close:hover {
  cursor: pointer;
}
.site-header .main-navigation .menu-primary-menu-container {
  margin: 0 auto;
}
@media (max-width: 992px) {
  .site-header .main-navigation .menu-primary-menu-container {
    margin: 0 auto 40px;
    text-align: center;
  }
}
.site-header .main-navigation .menu-primary-menu-container .menu {
  display: flex;
  margin: 0 0 0 -100px;
  padding: 0;
  list-style: none;
}
@media (max-width: 1200px) {
  .site-header .main-navigation .menu-primary-menu-container .menu {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .site-header .main-navigation .menu-primary-menu-container .menu {
    flex-direction: column;
  }
}
.site-header .main-navigation .menu-primary-menu-container .menu li {
  margin-right: 24px;
}
@media (max-width: 992px) {
  .site-header .main-navigation .menu-primary-menu-container .menu li {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
.site-header .main-navigation .menu-primary-menu-container .menu li:last-child {
  margin-right: 0;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.current-menu-item a {
  color: #EE3E3A;
  border-bottom: 2px solid;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story {
  position: relative;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery:hover .sub-menu, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu {
  width: 160px;
  position: absolute;
  left: 50%;
  top: 42px;
  background: #fff;
  margin: 0 0 0 -80px;
  padding: 4px 20px;
  list-style: none;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  .site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu {
    top: 36px;
  }
}
@media (max-width: 992px) {
  .site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu {
    display: none;
  }
}
.scrolled .site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu, .scrolled .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu {
  top: 36px;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu li, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu li {
  margin: 0;
  border-bottom: 1px solid #808184;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu li:last-child, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu li:last-child {
  border-bottom: none;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu li a, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu li a {
  display: inline-block;
  padding: 6px 0 4px;
  font-size: 15px;
  border: none;
  letter-spacing: 0.5px;
  color: #333132;
}
.site-header .main-navigation .menu-primary-menu-container .menu li.menu-brewery .sub-menu li a:hover, .site-header .main-navigation .menu-primary-menu-container .menu li.menu-story .sub-menu li a:hover {
  color: #EE3E3A;
}
.site-header .main-navigation .menu-primary-menu-container .menu li a {
  padding-bottom: 8px;
  color: #231F20;
  font-family: "Veneer", sans-serif;
  font-size: 22px;
  transition: 0.2s ease;
}
@media (max-width: 1200px) {
  .site-header .main-navigation .menu-primary-menu-container .menu li a {
    padding-bottom: 4px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .site-header .main-navigation .menu-primary-menu-container .menu li a {
    padding-bottom: 0;
    font-size: 24px;
  }
}
.scrolled .site-header .main-navigation .menu-primary-menu-container .menu li a {
  padding-bottom: 4px;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .scrolled .site-header .main-navigation .menu-primary-menu-container .menu li a {
    padding-bottom: 4px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .scrolled .site-header .main-navigation .menu-primary-menu-container .menu li a {
    font-size: 24px;
  }
}
.site-header .main-navigation .menu-primary-menu-container .menu li a:hover {
  color: #EE3E3A;
  border-bottom: 2px solid;
}
.site-header .secondary-menus {
  display: flex;
  align-items: center;
}
.site-header .secondary-menus .secondary-menu {
  display: flex;
  align-items: center;
  padding: 8px 0;
  transition: 0.5s ease;
}
.scrolled .site-header .secondary-menus .secondary-menu {
  padding: 4px;
}
@media (max-width: 1200px) {
  .site-header .secondary-menus .secondary-menu {
    padding: 4px;
  }
}
.site-header .secondary-menus .secondary-menu.social-links {
  padding-right: 32px;
  margin-right: 26px;
  border-right: 1px solid #BBBDBF;
  transition: 0.5s ease;
}
.scrolled .site-header .secondary-menus .secondary-menu.social-links {
  padding-right: 24px;
  margin-right: 24px;
}
@media (max-width: 1200px) {
  .scrolled .site-header .secondary-menus .secondary-menu.social-links {
    margin-right: 16px;
  }
}
@media (max-width: 1200px) {
  .site-header .secondary-menus .secondary-menu.social-links {
    padding-right: 24px;
    margin-right: 16px;
  }
}
.site-header .secondary-menus .secondary-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.site-header .secondary-menus .secondary-menu a:last-child {
  margin-right: 0;
}
.site-header .secondary-menus .secondary-menu a:hover svg g,
.site-header .secondary-menus .secondary-menu a:hover svg path {
  fill: #EE3E3A;
}
.site-header .menu-toggle {
  display: none;
}
@media (max-width: 992px) {
  .site-header .menu-toggle {
    display: block;
  }
}

.footer-contact {
  padding: 116px 0;
  border-top: 1px solid #BBBDBF;
}
.page-template-template-brewery .footer-contact {
  border-top: none;
}
@media (max-width: 992px) {
  .footer-contact {
    padding: 64px 0;
  }
}
@media (max-width: 480px) {
  .footer-contact {
    padding: 40px 0;
  }
}
.footer-contact .section-content {
  display: flex;
}
@media (max-width: 992px) {
  .footer-contact .section-content {
    flex-direction: column;
  }
}
.footer-contact .section-content .section-content-left {
  width: 46%;
  margin-right: 64px;
}
@media (max-width: 992px) {
  .footer-contact .section-content .section-content-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 64px;
  }
}
@media (max-width: 768px) {
  .footer-contact .section-content .section-content-left {
    margin-bottom: 40px;
  }
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p {
  margin: 0;
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 16px;
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap input,
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap textarea {
  width: 100%;
  padding: 0 20px;
  background: #f6f6f6;
  border: none;
  font-family: "Veneer", sans-serif;
  font-size: 20px;
  color: #231F20;
  letter-spacing: 2px;
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap input::placeholder,
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap textarea::placeholder {
  color: #333132;
}
@media (max-width: 480px) {
  .footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap input,
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap textarea {
    font-size: 18px;
  }
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap input {
  height: 48px;
  padding-top: 2px;
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-form-control-wrap textarea {
  padding-top: 12px;
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-submit {
  margin-top: 12px;
}
@media (max-width: 480px) {
  .footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p .wpcf7-submit {
    margin-top: 4px;
  }
}
.footer-contact .section-content .section-content-left .wpcf7 .wpcf7-form p br {
  display: none;
}
.footer-contact .section-content .section-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .footer-contact .section-content .section-content-right {
    min-height: 44vh;
  }
}
@media (max-width: 768px) {
  .footer-contact .section-content .section-content-right svg {
    max-width: 120px;
  }
}

.site-footer {
  padding: 72px 0;
  position: relative;
  color: #fff;
}
@media (max-width: 992px) {
  .site-footer {
    padding: 64px 0;
  }
}
@media (max-width: 480px) {
  .site-footer {
    padding: 40px 0;
  }
}
.site-footer .footer-content {
  display: flex;
}
@media (max-width: 1400px) {
  .site-footer .footer-content {
    flex-direction: column;
  }
}
.site-footer .footer-content .footer-widgets {
  display: flex;
  margin-right: auto;
}
@media (max-width: 992px) {
  .site-footer .footer-content .footer-widgets {
    flex-direction: column;
  }
}
.site-footer .footer-content .footer-widgets .footer-widget {
  min-width: 200px;
  padding-right: 80px;
  margin-right: 44px;
  border-right: 1px solid #231F20;
}
@media (max-width: 992px) {
  .site-footer .footer-content .footer-widgets .footer-widget {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 52px;
    border-right: none;
  }
}
.site-footer .footer-content .footer-widgets .footer-widget:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
@media (max-width: 992px) {
  .site-footer .footer-content .footer-widgets .footer-widget:last-child {
    margin-bottom: 0;
  }
}
.site-footer .footer-content .footer-widgets .footer-widget:last-child .footer-widget-content span {
  margin-bottom: 8px;
}
.site-footer .footer-content .footer-widgets .footer-widget .widget-title {
  display: inline-block;
  margin: 0 0 20px;
  font-family: "Veneer", sans-serif;
  font-size: 20px;
  border-bottom: 2px solid;
  letter-spacing: 1px;
}
.site-footer .footer-content .footer-widgets .footer-widget .footer-widget-content {
  margin-bottom: 20px;
  line-height: 1;
}
.site-footer .footer-content .footer-widgets .footer-widget .footer-widget-content:last-child {
  margin: 0;
}
.site-footer .footer-content .footer-widgets .footer-widget .footer-widget-content strong {
  display: block;
  margin-bottom: 4px;
  font-family: "Veneer", sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
}
.site-footer .footer-content .footer-widgets .footer-widget .footer-widget-content br {
  display: none;
}
.site-footer .footer-content .footer-widgets .footer-widget .footer-widget-content span {
  display: block;
  font-size: 15px;
}
.site-footer .footer-content .footer-widgets .footer-widget .footer-widget-content a {
  color: #fff;
}
.site-footer .footer-content .footer-widgets .footer-widget .footer-widget-content a:hover {
  border-bottom: 1px solid;
}
.site-footer .footer-content .footer-right {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1400px) {
  .site-footer .footer-content .footer-right {
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
  }
}
@media (max-width: 992px) {
  .site-footer .footer-content .footer-right {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 52px;
  }
}
.site-footer .footer-content .footer-right .footer-menus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: auto;
}
@media (max-width: 992px) {
  .site-footer .footer-content .footer-right .footer-menus {
    margin-left: -16px;
    margin-bottom: 32px;
  }
}
.site-footer .footer-content .footer-right .footer-menus .footer-menu {
  display: flex;
  align-items: center;
  padding: 8px 0;
  transition: 0.5s ease;
}
@media (max-width: 1200px) {
  .site-footer .footer-content .footer-right .footer-menus .footer-menu {
    padding: 4px;
  }
}
.site-footer .footer-content .footer-right .footer-menus .footer-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.site-footer .footer-content .footer-right .footer-menus .footer-menu a:hover {
  opacity: 0.6;
}
.site-footer .footer-content .footer-right .footer-menus .footer-menu a:last-child {
  margin-right: 0;
}
.site-footer .footer-content .footer-right .footer-menus .footer-menu a:hover svg g,
.site-footer .footer-content .footer-right .footer-menus .footer-menu a:hover svg path {
  fill: #EE3E3A;
}
.site-footer .footer-content .footer-right .copyright {
  color: #000;
  font-size: 13px;
}
@media (max-width: 1400px) {
  .site-footer .footer-content .footer-right .copyright {
    order: -1;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .site-footer .footer-content .footer-right .copyright {
    order: 1;
    margin-right: auto;
  }
}

.section-dark {
  background-image: url("assets/img/footer-texture.png");
  background-color: #333132;
  color: #fff;
}

.banner-section {
  width: calc(100% - 120px);
  height: 86vh;
  margin: 60px 60px 0;
  position: relative;
}
@media (max-width: 1400px) {
  .banner-section {
    width: calc(100% - 72px);
    height: 80vh;
    margin: 36px 36px 0;
  }
}
@media (max-width: 992px) {
  .banner-section {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 768px) {
  .banner-section {
    width: calc(100% - 48px);
    margin: 24px 24px 0;
  }
}
.banner-section .banner-section-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .banner-section .banner-section-background {
    position: relative;
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .banner-section .banner-section-background {
    position: relative;
    height: 40vh;
  }
}
.banner-section .banner-section-content-wrap {
  max-width: 440px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  background: #fff;
  padding: 64px 40px;
}
@media (max-width: 992px) {
  .banner-section .banner-section-content-wrap {
    position: relative;
    bottom: auto;
    left: auto;
    max-width: 100%;
    padding: 36px 0 0;
  }
}
.banner-section .banner-section-content-wrap .banner-section-title {
  margin: 0 0 24px;
  font-size: 58px;
  color: #EE3E3A;
}
@media (max-width: 992px) {
  .banner-section .banner-section-content-wrap .banner-section-title {
    font-size: 44px;
  }
}
@media (max-width: 768px) {
  .banner-section .banner-section-content-wrap .banner-section-title {
    margin: 0 0 16px;
    font-size: 44px;
  }
}
.banner-section .banner-section-content-wrap .banner-section-content {
  margin: 0 0 36px;
}
@media (max-width: 768px) {
  .banner-section .banner-section-content-wrap .banner-section-content {
    margin: 0 0 32px;
  }
}

.standard-content-section {
  padding: 116px 0;
}
@media (max-width: 1200px) {
  .standard-content-section {
    padding: 80px 0;
  }
}
@media (max-width: 992px) {
  .standard-content-section {
    padding: 64px 0;
  }
}
@media (max-width: 480px) {
  .standard-content-section {
    padding: 40px 0;
  }
}
.standard-content-section .standard-content-section-inner {
  padding-left: 106px;
}
@media (max-width: 992px) {
  .standard-content-section .standard-content-section-inner {
    padding-left: 0;
  }
}
.standard-content-section .standard-content-section-inner .content-large,
.standard-content-section .standard-content-section-inner .content-small {
  max-width: 72%;
}
@media (max-width: 992px) {
  .standard-content-section .standard-content-section-inner .content-large,
.standard-content-section .standard-content-section-inner .content-small {
    max-width: 100%;
  }
}
.standard-content-section .standard-content-section-inner .content-large {
  margin: 0 0 32px;
  font-family: "Veneer", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .standard-content-section .standard-content-section-inner .content-large {
    margin: 0 0 20px;
  }
}
@media (max-width: 480px) {
  .standard-content-section .standard-content-section-inner .content-large {
    font-size: 18px;
  }
}
.standard-content-section .standard-content-section-inner .content-small {
  margin: 0 0 32px;
}
.standard-content-section .standard-content-section-inner .content-small:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .standard-content-section .standard-content-section-inner .content-small {
    margin: 0 0 20px;
  }
}
.standard-content-section .standard-content-section-inner .button-list {
  margin-top: 52px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .standard-content-section .standard-content-section-inner .button-list {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .standard-content-section .standard-content-section-inner .button-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.standard-content-section .standard-content-section-inner .button-list .button-item {
  margin-right: 32px;
  padding-right: 32px;
  border-right: 1px solid #BBBDBF;
}
@media (max-width: 1200px) {
  .standard-content-section .standard-content-section-inner .button-list .button-item {
    margin-right: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 480px) {
  .standard-content-section .standard-content-section-inner .button-list .button-item {
    margin-right: 0;
    margin-bottom: 20px;
    padding-right: 0;
    border-right: 0;
  }
}
.standard-content-section .standard-content-section-inner .button-list .button-item:last-child {
  margin-bottom: 0;
}
.standard-content-section .standard-content-section-inner .button-list .button-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
.standard-content-section .standard-content-section-inner .button-list .button-item .btn, .standard-content-section .standard-content-section-inner .button-list .button-item .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .standard-content-section .standard-content-section-inner .button-list .button-item a {
  padding: 10px 0 6px;
  font-size: 30px;
  border-color: transparent;
}
@media (max-width: 1400px) {
  .standard-content-section .standard-content-section-inner .button-list .button-item .btn, .standard-content-section .standard-content-section-inner .button-list .button-item .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .standard-content-section .standard-content-section-inner .button-list .button-item a {
    font-size: 28px;
  }
}
@media (max-width: 1200px) {
  .standard-content-section .standard-content-section-inner .button-list .button-item .btn, .standard-content-section .standard-content-section-inner .button-list .button-item .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .standard-content-section .standard-content-section-inner .button-list .button-item a {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .standard-content-section .standard-content-section-inner .button-list .button-item .btn, .standard-content-section .standard-content-section-inner .button-list .button-item .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .standard-content-section .standard-content-section-inner .button-list .button-item a {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .standard-content-section .standard-content-section-inner .button-list .button-item .btn, .standard-content-section .standard-content-section-inner .button-list .button-item .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .standard-content-section .standard-content-section-inner .button-list .button-item a {
    font-size: 24px;
    border-color: inherit;
    border-width: 3px;
  }
}
.standard-content-section .standard-content-section-inner .button-list .button-item .btn:hover, .standard-content-section .standard-content-section-inner .button-list .button-item .our-journal .posts-grid .posts-column .post .post-inner .post-title a:hover, .our-journal .posts-grid .posts-column .post .post-inner .post-title .standard-content-section .standard-content-section-inner .button-list .button-item a:hover {
  border-color: #EE3E3A;
}
.standard-content-section.section-dark .section-header-pattern g,
.standard-content-section.section-dark .section-header-pattern path {
  fill: #231F20;
}

.image-section {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1200px) {
  .image-section {
    height: 72vh;
  }
}
@media (max-width: 992px) {
  .image-section {
    height: 60vh;
  }
}

.image-slider-section {
  overflow: visible;
  margin-bottom: 60px;
}
.image-slider-section.image-slider-section-alt {
  margin-bottom: 0;
}
.image-slider-section.image-slider-section-alt .swiper-pagination {
  bottom: 40px;
}
.image-slider-section .swiper-wrapper .swiper-slide {
  height: 80vh !important;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1200px) {
  .image-slider-section .swiper-wrapper .swiper-slide {
    height: 72vh !important;
  }
}
@media (max-width: 992px) {
  .image-slider-section .swiper-wrapper .swiper-slide {
    height: 60vh !important;
  }
}
.image-slider-section .swiper-button-prev,
.image-slider-section .swiper-button-next {
  width: 28px;
  height: 28px;
  opacity: 0.55;
  transition: 0.2s;
}
.image-slider-section .swiper-button-prev:hover,
.image-slider-section .swiper-button-next:hover {
  opacity: 1;
}
.image-slider-section .swiper-button-prev:after,
.image-slider-section .swiper-button-next:after {
  display: none;
}
.image-slider-section .swiper-button-prev svg,
.image-slider-section .swiper-button-next svg {
  width: 40px;
  height: 40px;
}
.image-slider-section .swiper-button-prev {
  left: 48px;
}
@media (max-width: 768px) {
  .image-slider-section .swiper-button-prev {
    left: 20px;
  }
}
.image-slider-section .swiper-button-next {
  right: 48px;
}
@media (max-width: 768px) {
  .image-slider-section .swiper-button-next {
    right: 20px;
  }
}
.image-slider-section .swiper-pagination {
  bottom: -60px;
}
.image-slider-section .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #ccc;
  border: 2px solid #ccc;
  opacity: 1;
}
.image-slider-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

.sidebar-wrapper {
  display: flex;
  align-items: flex-start;
}
.sidebar-wrapper .sidebar-right {
  width: 360px;
  margin-left: auto;
}
@media (max-width: 1400px) {
  .sidebar-wrapper .sidebar-right {
    width: 300px;
  }
}
.sidebar-wrapper .sidebar-right .sidebar {
  padding-left: 24px;
  padding-bottom: 32px;
  border-left: 1px solid #333132;
}
.sidebar-wrapper .sidebar-right .sidebar .sidebar-widget {
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .sidebar-wrapper .sidebar-right .sidebar .sidebar-widget {
    margin-bottom: 44px;
  }
}
.sidebar-wrapper .sidebar-right .sidebar .sidebar-widget:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .sidebar-right .sidebar .sidebar-widget .sidebar-widget-title {
  display: inline-block;
  padding-bottom: 12px;
  margin: 0 0 20px;
  font-size: 26px;
  color: #929396;
  border-bottom: 4px solid;
}
.sidebar-wrapper .sidebar-right .sidebar .sidebar-widget .sidebar-widget-content .sidebar-link {
  display: block;
  margin-bottom: 12px;
  font-family: "Veneer", sans-serif;
  font-size: 20px;
  color: #333132;
  letter-spacing: 0.5px;
  line-height: 1;
}
.sidebar-wrapper .sidebar-right .sidebar .sidebar-widget .sidebar-widget-content .sidebar-link:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .sidebar-right .sidebar .sidebar-widget .sidebar-widget-content .sidebar-link:hover {
  color: #EE3E3A;
}

.search-form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.98);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 99;
  overflow: hidden;
  transition: 0.5s ease;
}
.search-active .search-form-section {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.search-form-section .search-close {
  position: absolute;
  top: 8px;
  right: 12px;
  padding: 32px;
}
.search-form-section .search-close:hover {
  cursor: pointer;
}
.search-form-section .search-close:hover svg g,
.search-form-section .search-close:hover svg path {
  fill: #EE3E3A;
}
.search-form-section .search-close svg {
  width: 40px;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .search-form-section .search-form-section-inner {
    width: 90%;
  }
}
.search-form-section .search-form-section-inner .search-form-title {
  text-align: center;
}
.search-form-section .search-form-section-inner .search-form {
  display: flex;
}
@media (max-width: 768px) {
  .search-form-section .search-form-section-inner .search-form {
    flex-direction: column;
    align-items: center;
  }
}
.search-form-section .search-form-section-inner .search-form label {
  width: 100%;
}
.search-form-section .search-form-section-inner .search-form .search-field {
  width: 440px;
  height: 48px;
  padding: 0 20px;
  margin-right: 24px;
  background: #f6f6f6;
  border: none;
  font-family: "Veneer", sans-serif;
  font-size: 20px;
  color: #231F20;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .search-form-section .search-form-section-inner .search-form .search-field {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.page-wrapper {
  padding: 64px 0;
}
@media (max-width: 1200px) {
  .page-wrapper {
    padding: 52px 0;
  }
}
@media (max-width: 768px) {
  .page-wrapper {
    padding: 40px 0;
  }
}

.home-our-beers {
  padding: 72px 0 100px;
}
@media (max-width: 992px) {
  .home-our-beers {
    padding: 40px 0 64px;
  }
}
@media (max-width: 480px) {
  .home-our-beers {
    padding: 40px 0;
  }
}
.home-our-beers .section-header {
  margin: 0 0 -52px -120px;
}
@media (max-width: 1400px) {
  .home-our-beers .section-header {
    margin: 0 0 -44px -100px;
  }
}
@media (max-width: 1200px) {
  .home-our-beers .section-header {
    margin: 0 0 0 -72px;
  }
}
@media (max-width: 992px) {
  .home-our-beers .section-header {
    margin: 0 0 24px -12px;
  }
}
.home-our-beers .our-beers-inner {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .home-our-beers .our-beers-inner {
    align-items: flex-start;
    flex-direction: column;
  }
}
.home-our-beers .our-beers-inner .our-beers-content {
  max-width: 370px;
  margin-right: auto;
}
@media (max-width: 992px) {
  .home-our-beers .our-beers-inner .our-beers-content {
    max-width: 100%;
    margin-right: 0;
  }
}
.home-our-beers .our-beers-inner .our-beers-content p {
  margin: 0 0 32px;
}
.home-our-beers .our-beers-inner .our-beers-image {
  max-width: 60%;
  margin-left: 40px;
}
@media (max-width: 992px) {
  .home-our-beers .our-beers-inner .our-beers-image {
    order: -1;
    max-width: 600px;
    margin-left: 0;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .home-our-beers .our-beers-inner .our-beers-image {
    max-width: 100%;
  }
}

.our-journal {
  padding: 120px 0;
}
@media (max-width: 992px) {
  .our-journal {
    padding: 64px 0;
  }
}
@media (max-width: 480px) {
  .our-journal {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  .our-journal .section-header {
    margin-bottom: 72px;
  }
}
.our-journal .section-header .section-header-inner {
  margin-top: -4px;
}
.our-journal .section-header .section-header-inner .section-header-pattern g,
.our-journal .section-header .section-header-inner .section-header-pattern path {
  fill: #231F20;
}
.our-journal .posts-grid {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 992px) {
  .our-journal .posts-grid {
    flex-direction: column;
    margin: 0;
  }
}
.our-journal .posts-grid .posts-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 480px;
  margin: 0 10px;
}
@media (max-width: 992px) {
  .our-journal .posts-grid .posts-column {
    height: auto;
    margin: 0;
  }
}
.our-journal .posts-grid .posts-column.posts-column-1 {
  width: 30%;
}
@media (max-width: 1200px) {
  .our-journal .posts-grid .posts-column.posts-column-1 {
    width: 18%;
  }
}
@media (max-width: 992px) {
  .our-journal .posts-grid .posts-column.posts-column-1 {
    width: auto;
  }
}
.our-journal .posts-grid .posts-column.posts-column-1 .post .post-inner {
  min-width: 380px;
  max-width: calc(100% - 64px);
  padding: 32px;
  bottom: 32px;
  left: 32px;
}
@media (max-width: 992px) {
  .our-journal .posts-grid .posts-column.posts-column-1 .post .post-inner {
    max-width: calc(100% - 48px);
    min-width: unset;
    padding: 24px;
    bottom: 24px;
    left: 24px;
  }
}
@media (max-width: 480px) {
  .our-journal .posts-grid .posts-column.posts-column-1 .post .post-inner {
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.our-journal .posts-grid .posts-column.posts-column-1 .post .post-inner .post-title a {
  font-size: 32px;
}
@media (max-width: 992px) {
  .our-journal .posts-grid .posts-column.posts-column-1 .post .post-inner .post-title a {
    font-size: 24px;
  }
}
.our-journal .posts-grid .posts-column.posts-column-1 .post .post-inner .post-date {
  font-size: 17px;
}
@media (max-width: 992px) {
  .our-journal .posts-grid .posts-column.posts-column-1 .post .post-inner .post-date {
    font-size: 14px;
  }
}
.our-journal .posts-grid .posts-column.posts-column-2 .post:first-child {
  margin-bottom: 20px;
}
.our-journal .posts-grid .posts-column.posts-column-2 .post:last-child {
  margin-bottom: 0;
}
.our-journal .posts-grid .posts-column.posts-column-2 .post .post-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 36px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 992px) {
  .our-journal .posts-grid .posts-column.posts-column-2 .post .post-inner {
    display: block;
    width: auto;
    height: auto;
    padding: 24px;
    bottom: 24px;
    left: 24px;
    right: auto;
    top: auto;
  }
}
@media (max-width: 480px) {
  .our-journal .posts-grid .posts-column.posts-column-2 .post .post-inner {
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.our-journal .posts-grid .posts-column.posts-column-2 .post .post-inner .post-title a {
  font-size: 24px;
}
.our-journal .posts-grid .posts-column.posts-column-2 .post .post-inner .post-date {
  font-size: 14px;
}
.our-journal .posts-grid .posts-column .post {
  flex-grow: 1;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .our-journal .posts-grid .posts-column .post {
    height: 420px;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .our-journal .posts-grid .posts-column .post {
    height: 60vh;
  }
}
.our-journal .posts-grid .posts-column .post .post-inner {
  position: absolute;
  background: rgba(35, 31, 32, 0.7);
}
.our-journal .posts-grid .posts-column .post .post-inner .post-title {
  margin: 0 0 12px;
}
.our-journal .posts-grid .posts-column .post .post-inner .post-title a {
  color: #fff;
}
.our-journal .posts-grid .posts-column .post .post-inner .post-date {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.our-beers {
  padding: 64px 0 120px;
  position: relative;
}
@media (max-width: 992px) {
  .our-beers {
    padding: 52px 0 72px;
  }
}
@media (max-width: 480px) {
  .our-beers {
    padding: 32px 0 44px;
  }
}
.our-beers .section-header {
  margin-bottom: -48px;
}
@media (max-width: 992px) {
  .our-beers .section-header {
    margin-bottom: -24px;
  }
}
.our-beers .slider-fade {
  position: absolute;
  right: 0;
  bottom: 100px;
  pointer-events: none;
}
@media (max-width: 992px) {
  .our-beers .slider-fade {
    display: none;
  }
}
.our-beers .our-beers-inner {
  margin: 0 auto;
  white-space: nowrap;
  overflow: -moz-scrollbars-none;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.our-beers .our-beers-inner:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.our-beers .our-beers-inner::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1480px) {
  .our-beers .our-beers-inner {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .our-beers .our-beers-inner {
    display: block;
    max-width: 500px;
    opacity: 0.99;
    cursor: auto !important;
  }
}
.our-beers .our-beers-inner .our-beers-beer {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  white-space: pre-line;
}
.our-beers .our-beers-inner .our-beers-beer:first-child {
  padding-left: 15%;
}
@media (max-width: 1200px) {
  .our-beers .our-beers-inner .our-beers-beer:first-child {
    padding-left: 10%;
  }
}
@media (max-width: 992px) {
  .our-beers .our-beers-inner .our-beers-beer:first-child {
    padding-left: 0;
  }
}
.our-beers .our-beers-inner .our-beers-beer:last-child {
  padding-right: 15%;
}
@media (max-width: 1200px) {
  .our-beers .our-beers-inner .our-beers-beer:last-child {
    padding-right: 10%;
  }
}
@media (max-width: 992px) {
  .our-beers .our-beers-inner .our-beers-beer:last-child {
    padding-right: 0;
  }
}
@media (max-width: 1200px) {
  .our-beers .our-beers-inner .our-beers-beer {
    margin: 0 8px;
  }
}
@media (max-width: 992px) {
  .our-beers .our-beers-inner .our-beers-beer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    float: left;
    text-align: center;
    margin: 0 0 40px;
  }
  .our-beers .our-beers-inner .our-beers-beer:nth-child(7), .our-beers .our-beers-inner .our-beers-beer:nth-child(8), .our-beers .our-beers-inner .our-beers-beer:nth-child(9) {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .our-beers .our-beers-inner .our-beers-beer {
    width: 100%;
    margin-bottom: 32px;
  }
  .our-beers .our-beers-inner .our-beers-beer:nth-child(4) {
    margin-bottom: 32px;
  }
  .our-beers .our-beers-inner .our-beers-beer:nth-child(7), .our-beers .our-beers-inner .our-beers-beer:nth-child(8) {
    margin-bottom: 32px;
  }
}
.our-beers .our-beers-inner .our-beers-beer .our-beers-beer-image {
  max-height: 600px;
  margin-bottom: -40px;
}
@media (max-width: 1200px) {
  .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-image {
    width: 140px;
  }
}
@media (max-width: 992px) {
  .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-image {
    width: 100px;
    margin-bottom: -20px;
  }
}
.our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link {
  display: block;
}
@media (max-width: 992px) {
  .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link {
    margin-top: 8px;
  }
}
.our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link .btn, .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link a {
  font-size: 20px;
}
@media (max-width: 992px) {
  .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link .btn, .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link a {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link .btn, .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .post .post-inner .post-title .our-beers .our-beers-inner .our-beers-beer .our-beers-beer-link a {
    font-size: 17px;
  }
}

.beer-section {
  padding: 120px 0 116px;
  position: relative;
  border-top: 1px solid #bbb;
}
@media (max-width: 992px) {
  .beer-section {
    padding: 60px 0 72px;
  }
}
@media (max-width: 480px) {
  .beer-section {
    padding: 40px 0;
  }
}
.beer-section .section-header {
  margin-bottom: -180px;
  text-align: right;
}
@media (max-width: 992px) {
  .beer-section .section-header {
    margin-bottom: -90px;
  }
}
@media (max-width: 768px) {
  .beer-section .section-header {
    margin: 0;
    position: absolute;
    top: 10%;
    right: 24px;
    opacity: 0.6;
  }
}
@media (max-width: 768px) {
  .beer-section .section-header .section-title {
    font-size: 18vw;
  }
}
.beer-section .beer-section-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.99;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner {
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .beer-section .beer-section-inner {
    flex-direction: column;
  }
}
.beer-section .beer-section-inner .beer-content {
  width: 550px;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content {
    width: 520px;
  }
}
@media (max-width: 768px) {
  .beer-section .beer-section-inner .beer-content {
    width: auto;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-title,
.beer-section .beer-section-inner .beer-content .beer-content-subtitle {
  font-family: "Veneer", sans-serif;
  letter-spacing: 1px;
}
.beer-section .beer-section-inner .beer-content .beer-content-title {
  margin: 0 0 16px;
  font-size: 72px;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content .beer-content-title {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-title {
    margin: 0 0 8px;
    font-size: 44px;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-subtitle {
  margin: 0 0 20px;
  font-size: 36px;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content .beer-content-subtitle {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-subtitle {
    margin: 0 0 16px;
    font-size: 22px;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-description {
  margin: 0;
  padding: 28px 0;
  font-size: 19px;
  border-top: 6px solid #231F20;
  border-bottom: 6px solid #231F20;
  letter-spacing: 0.5px;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content .beer-content-description {
    padding: 20px 0;
    font-size: 17px;
    border-width: 5px;
  }
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-description {
    font-size: 15px;
    letter-spacing: 0;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-description .beer-pairing {
  font-weight: bold;
}
.beer-section .beer-section-inner .beer-content .beer-content-stats {
  display: flex;
  padding: 20px 0;
  border-bottom: 6px solid #231F20;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats {
    border-width: 5px;
  }
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats {
    padding: 16px 0;
  }
}
@media (max-width: 360px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats {
    display: block;
    margin: 0 -8px;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat {
  padding-right: 32px;
  margin-right: 16px;
  border-right: 1px solid #231F20;
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat {
    padding-right: 12px;
    margin-right: 12px;
  }
}
@media (max-width: 360px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat {
    width: 50%;
    float: left;
    margin-right: 0;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
  }
  .beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat:nth-child(3), .beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat:nth-child(4) {
    margin-bottom: 0;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
.beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-label,
.beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-value {
  display: block;
  font-family: "Veneer", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-label,
.beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-value {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-label,
.beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-value {
    font-size: 16px;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-label {
  margin-right: auto;
  margin-bottom: 8px;
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-stats .beer-content-stat .beer-content-stat-label {
    margin-bottom: 4px;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-scale-wrapper {
  display: flex;
  padding-top: 12px;
}
@media (max-width: 768px) {
  .beer-section .beer-section-inner .beer-content .beer-content-scale-wrapper {
    flex-direction: column;
  }
}
.beer-section .beer-section-inner .beer-content .beer-content-scale-wrapper .beer-content-scale-label {
  margin-right: auto;
  padding-top: 4px;
  font-family: "Veneer", sans-serif;
  font-size: 26px;
  border-bottom: 6px solid #231F20;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content .beer-content-scale-wrapper .beer-content-scale-label {
    font-size: 20px;
    border-width: 5px;
  }
}
@media (max-width: 768px) {
  .beer-section .beer-section-inner .beer-content .beer-content-scale-wrapper .beer-content-scale-label {
    padding-bottom: 4px;
    border: none;
  }
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-content .beer-content-scale-wrapper .beer-content-scale svg {
    max-width: 320px;
  }
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-content .beer-content-scale-wrapper .beer-content-scale svg {
    max-width: 100%;
  }
}
.beer-section .beer-section-inner .beer-content-video {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.beer-section .beer-section-inner .beer-content-video:hover {
  opacity: 0.7;
}
.beer-section .beer-section-inner .beer-content-video .beer-content-video-icon {
  margin-right: 12px;
}
.beer-section .beer-section-inner .beer-content-video .beer-content-video-text {
  display: block;
  padding-top: 2px;
  font-family: "Veneer", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
}
.beer-section .beer-section-inner .beer-image {
  max-width: 212px;
  margin-left: 100px;
  position: relative;
}
.beer-section .beer-section-inner .beer-image.beer-image-rollover:hover .beer-image-main {
  opacity: 0;
}
.beer-section .beer-section-inner .beer-image.beer-image-rollover:hover .beer-image-alt {
  opacity: 1;
  visibility: visible;
}
.beer-section .beer-section-inner .beer-image.beer-image-rollover .beer-image-main,
.beer-section .beer-section-inner .beer-image.beer-image-rollover .beer-image-alt {
  transition: 0.3s ease;
}
.beer-section .beer-section-inner .beer-image.beer-image-rollover .beer-image-alt {
  width: 110%;
  height: 110%;
  position: absolute;
  top: auto;
  bottom: 0;
  margin-left: -5%;
  left: 0;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 992px) {
  .beer-section .beer-section-inner .beer-image {
    max-width: 124px;
    margin-left: 60px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .beer-section .beer-section-inner .beer-image {
    order: -1;
    max-width: 100px;
    margin: 0 0 4px;
  }
}
@media (max-width: 480px) {
  .beer-section .beer-section-inner .beer-image {
    max-width: 72px;
    margin: 0;
  }
}
.beer-section.beer-section-alt .beer-image {
  order: -1;
  margin-left: 0;
  margin-right: 100px;
}
@media (max-width: 992px) {
  .beer-section.beer-section-alt .beer-image {
    margin-right: 60px;
  }
}
.beer-section.beer-section-dark {
  color: #fff;
  border-color: #000;
}
.beer-section.beer-section-dark .beer-content-description,
.beer-section.beer-section-dark .beer-content-stats,
.beer-section.beer-section-dark .beer-content-scale-label {
  border-color: #000 !important;
}
.beer-section#brewers-lager .beer-content-title,
.beer-section#brewers-lager .beer-content-stat-value {
  color: #EE3E3A;
}
.beer-section#brewers-lager .beer-content-video-text {
  color: #EE3E3A;
}
.beer-section#cape-pale-ale:before, .beer-section#atlantic-weiss:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center bottom -60px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 992px) {
  .beer-section#cape-pale-ale:before, .beer-section#atlantic-weiss:before {
    background-position: center bottom;
    opacity: 0.8;
  }
}
@media (max-width: 768px) {
  .beer-section#cape-pale-ale:before, .beer-section#atlantic-weiss:before {
    background-size: cover;
    opacity: 0.6;
  }
}
.beer-section#cape-pale-ale:before {
  background-image: url("assets/img/beers/bg/cape-pale-ale-bg.png");
}
.beer-section#cape-pale-ale .beer-content-title,
.beer-section#cape-pale-ale .beer-content-stat-value {
  color: #00A61D;
}
.beer-section#cape-pale-ale .beer-content-video-text {
  color: #00A61D;
}
.beer-section#atlantic-weiss:before {
  background-image: url("assets/img/beers/bg/atlantic-weiss-bg.png");
}
.beer-section#atlantic-weiss .beer-content-title,
.beer-section#atlantic-weiss .beer-content-stat-value {
  color: #0064B7;
}
.beer-section#atlantic-weiss .beer-content-video-text {
  color: #0064B7;
}
.beer-section#butcher-block .beer-section-bg, .beer-section#lumberjack .beer-section-bg, .beer-section#skeleton-coast-ipa .beer-section-bg, .beer-section#fresh-hop .beer-section-bg, .beer-section#wolves-of-winter .beer-section-bg, .beer-section#mega-ale .beer-section-bg {
  max-width: 100%;
  position: absolute;
  opacity: 0.3;
}
.beer-section#butcher-block .beer-section-bg {
  left: 5vw;
  top: 10%;
}
.beer-section#butcher-block .beer-content-title,
.beer-section#butcher-block .beer-content-stat-value,
.beer-section#butcher-block .beer-pairing {
  color: #D0333A;
}
.beer-section#butcher-block .beer-content-video-text {
  color: #D0333A;
}
.beer-section#lumberjack .beer-section-bg {
  top: 0;
  right: 0;
}
.beer-section#lumberjack .beer-content-title,
.beer-section#lumberjack .beer-content-stat-value,
.beer-section#lumberjack .beer-pairing {
  color: #DF4306;
}
.beer-section#lumberjack .beer-content-video-text {
  color: #DF4306;
}
.beer-section#skeleton-coast-ipa .beer-section-bg {
  top: 0;
  left: 0;
}
.beer-section#skeleton-coast-ipa .beer-content-title,
.beer-section#skeleton-coast-ipa .beer-content-stat-value,
.beer-section#skeleton-coast-ipa .beer-pairing {
  color: #F5A900;
}
.beer-section#skeleton-coast-ipa .beer-content-video-text {
  color: #F5A900;
}
.beer-section#fresh-hop, .beer-section#wolves-of-winter, .beer-section#mega-ale {
  background-size: cover;
  background-position: center;
}
.beer-section#fresh-hop {
  background-image: url("/wp-content/themes/jb-web/assets/img/beers/bg/fh-bg-3.png");
}
.beer-section#fresh-hop .beer-section-bg {
  top: 0;
  left: 0;
}
.beer-section#fresh-hop .beer-content-title,
.beer-section#fresh-hop .beer-content-stat-value,
.beer-section#fresh-hop .beer-pairing {
  color: #3BA935;
}
.beer-section#fresh-hop .beer-content-video-text {
  color: #3BA935;
}
.beer-section#wolves-of-winter {
  background-image: url("/wp-content/themes/jb-web/assets/img/beers/bg/ww-bg-2.png");
}
.beer-section#wolves-of-winter .beer-section-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.beer-section#wolves-of-winter .beer-content-title,
.beer-section#wolves-of-winter .beer-content-stat-value,
.beer-section#wolves-of-winter .beer-pairing {
  color: #F5A800;
}
.beer-section#wolves-of-winter .beer-content-video-text {
  color: #F5A800;
}
.beer-section#mega-ale {
  background-image: url("/wp-content/themes/jb-web/assets/img/beers/bg/ma-bg-2.png");
}
.beer-section#mega-ale .beer-section-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.beer-section#mega-ale .beer-content-title {
  color: #FFDD27;
}
.beer-section#mega-ale .beer-content-subtitle,
.beer-section#mega-ale .beer-content-stat-value,
.beer-section#mega-ale .beer-pairing {
  color: #E61C83;
}
.beer-section#mega-ale .beer-content-video-text {
  color: #E61C83;
}

.venue-hire .section-header .section-title {
  margin-top: 3px;
  color: #fff;
}

.ambassadors .ambassadors-grid {
  max-width: 1124px;
  margin: 60px auto 0;
}
@media (max-width: 768px) {
  .ambassadors .ambassadors-grid {
    margin: 40px auto 0;
  }
}
.ambassadors .ambassadors-grid .ambassador-wrap {
  float: left;
  width: calc(50% - 36px);
  height: 360px;
  margin-bottom: 52px;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .ambassadors .ambassadors-grid .ambassador-wrap {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .ambassadors .ambassadors-grid .ambassador-wrap {
    width: 100%;
    float: none;
    margin-bottom: 32px;
  }
}
@media (max-width: 480px) {
  .ambassadors .ambassadors-grid .ambassador-wrap {
    height: 300px;
  }
}
.ambassadors .ambassadors-grid .ambassador-wrap:nth-child(odd) {
  margin-right: 72px;
}
@media (max-width: 992px) {
  .ambassadors .ambassadors-grid .ambassador-wrap:nth-child(odd) {
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .ambassadors .ambassadors-grid .ambassador-wrap:nth-child(odd) {
    margin-right: 0;
  }
}
.ambassadors .ambassadors-grid .ambassador-wrap .ambassador-inner {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background: rgba(35, 31, 32, 0.8);
  text-align: center;
  padding: 24px;
}
@media (max-width: 768px) {
  .ambassadors .btn-container {
    margin-top: 24px;
  }
}
@media (max-width: 480px) {
  .ambassadors .btn-container {
    margin-top: 8px;
  }
}

.single-ambassador .ambassador {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .single-ambassador .ambassador {
    padding-bottom: 60px;
  }
}
.single-ambassador .ambassador .ambassador-intro {
  padding-bottom: 0;
}
.single-ambassador .ambassador .ambassador-intro .section-header .section-title {
  padding-top: 4px;
}
.single-ambassador .ambassador .ambassador-intro .content-large {
  max-width: 80%;
}
@media (max-width: 992px) {
  .single-ambassador .ambassador .ambassador-intro .sidebar-right {
    display: none;
  }
}
.single-ambassador .ambassador .ambassador-intro .sidebar-right .sidebar .sidebar-widget-title {
  color: #EE3E3A;
}
.single-ambassador .ambassador .ambassador-post-content p {
  max-width: 80%;
  padding-left: 106px;
  margin: 0 0 32px;
  font-size: 17px;
  line-height: 2;
}
@media (max-width: 992px) {
  .single-ambassador .ambassador .ambassador-post-content p {
    max-width: 100%;
    padding-left: 0;
  }
}
.single-ambassador .ambassador .ambassador-post-content .wp-block-gallery {
  margin: 100px 0 72px;
}
@media (max-width: 992px) {
  .single-ambassador .ambassador .ambassador-post-content .wp-block-gallery {
    margin: 64px 0 52px;
  }
}
@media (max-width: 480px) {
  .single-ambassador .ambassador .ambassador-post-content .wp-block-gallery {
    margin: 40px 0;
  }
}
.single-ambassador .ambassador .ambassador-post-content .wp-block-gallery .blocks-gallery-item {
  width: calc((100% - 52px) / 2);
  max-height: 75vh;
  margin: 0 52px 16px 0;
}
@media (max-width: 768px) {
  .single-ambassador .ambassador .ambassador-post-content .wp-block-gallery .blocks-gallery-item {
    width: calc((100% - 20px) / 2);
    margin: 0 20px 16px 0;
  }
}
.single-ambassador .ambassador .ambassador-post-content .wp-block-gallery .blocks-gallery-item:last-child {
  margin-right: 0;
}
.single-ambassador .ambassador .ambassador-post-content .wp-block-image {
  margin: 100px 0 72px;
  text-align: center;
}
@media (max-width: 992px) {
  .single-ambassador .ambassador .ambassador-post-content .wp-block-image {
    margin: 64px 0 52px;
  }
}
@media (max-width: 480px) {
  .single-ambassador .ambassador .ambassador-post-content .wp-block-image {
    margin: 40px 0;
  }
}
.single-ambassador .ambassador .btn-container {
  margin-top: 60px;
}

.journal-section,
.search-section {
  padding: 64px 0;
}
@media (max-width: 1200px) {
  .journal-section,
.search-section {
    padding: 52px 0;
  }
}
@media (max-width: 768px) {
  .journal-section,
.search-section {
    padding: 40px 0;
  }
}
.journal-section .container,
.search-section .container {
  max-width: 1664px;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 1200px) {
  .journal-section .container,
.search-section .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 768px) {
  .journal-section .container,
.search-section .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper,
.search-section .sidebar-wrapper {
    flex-direction: column;
  }
}
.journal-section .sidebar-wrapper .posts,
.search-section .sidebar-wrapper .posts {
  width: 72%;
  margin-right: 80px;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts,
.search-section .sidebar-wrapper .posts {
    width: 100%;
    margin-right: 40px;
  }
}
.journal-section .sidebar-wrapper .posts .post,
.search-section .sidebar-wrapper .posts .post {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .posts .post,
.search-section .sidebar-wrapper .posts .post {
    margin-bottom: 40px;
  }
}
.journal-section .sidebar-wrapper .posts .post.post-featured .post-image,
.search-section .sidebar-wrapper .posts .post.post-featured .post-image {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .posts .post.post-featured .post-image,
.search-section .sidebar-wrapper .posts .post.post-featured .post-image {
    margin-bottom: 24px;
  }
}
.journal-section .sidebar-wrapper .posts .post.post-featured .post-image img,
.search-section .sidebar-wrapper .posts .post.post-featured .post-image img {
  width: 100%;
}
.journal-section .sidebar-wrapper .posts .post.post-featured .post-inner,
.search-section .sidebar-wrapper .posts .post.post-featured .post-inner {
  align-items: unset;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts .post.post-featured .post-inner,
.search-section .sidebar-wrapper .posts .post.post-featured .post-inner {
    flex-direction: column;
  }
}
.journal-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left {
  border-right: 1px solid #333132;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left {
    border-right: none;
  }
}
@media (max-width: 768px) {
  .journal-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left {
    margin-bottom: 0;
  }
}
.journal-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left .post-title,
.search-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left .post-title {
  padding-right: 32px;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left .post-title,
.search-section .sidebar-wrapper .posts .post.post-featured .post-inner .post-left .post-title {
    padding-right: 0;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner,
.search-section .sidebar-wrapper .posts .post .post-inner {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner,
.search-section .sidebar-wrapper .posts .post .post-inner {
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner,
.search-section .sidebar-wrapper .posts .post .post-inner {
    flex-direction: column;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner .post-left,
.journal-section .sidebar-wrapper .posts .post .post-inner .post-right,
.search-section .sidebar-wrapper .posts .post .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post .post-inner .post-right {
  flex-grow: 1;
}
.journal-section .sidebar-wrapper .posts .post .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post .post-inner .post-left {
  width: 320px;
  min-width: 320px;
  margin-right: 40px;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post .post-inner .post-left {
    width: 260px;
    min-width: 260px;
  }
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post .post-inner .post-left {
    margin-right: 32px;
  }
}
@media (max-width: 768px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post .post-inner .post-left {
    width: auto;
    min-width: unset;
    max-width: 360px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-left,
.search-section .sidebar-wrapper .posts .post .post-inner .post-left {
    width: 100%;
    max-width: 100%;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner .post-right,
.search-section .sidebar-wrapper .posts .post .post-inner .post-right {
  padding-bottom: 8px;
}
@media (max-width: 480px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-image img,
.search-section .sidebar-wrapper .posts .post .post-inner .post-image img {
    width: 100%;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner .post-title,
.search-section .sidebar-wrapper .posts .post .post-inner .post-title {
  margin: 0 0 12px;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-title,
.search-section .sidebar-wrapper .posts .post .post-inner .post-title {
    font-size: 30px;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner .post-title a,
.search-section .sidebar-wrapper .posts .post .post-inner .post-title a {
  font-size: 32px;
  line-height: 1.1;
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-title a,
.search-section .sidebar-wrapper .posts .post .post-inner .post-title a {
    font-size: 24px;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner .post-date,
.search-section .sidebar-wrapper .posts .post .post-inner .post-date {
  display: block;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-date,
.search-section .sidebar-wrapper .posts .post .post-inner .post-date {
    font-size: 14px;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner .post-excerpt,
.search-section .sidebar-wrapper .posts .post .post-inner .post-excerpt {
  margin: 0 0 40px;
}
@media (max-width: 1200px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-excerpt,
.search-section .sidebar-wrapper .posts .post .post-inner .post-excerpt {
    margin: 0 0 28px;
  }
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .post-excerpt,
.search-section .sidebar-wrapper .posts .post .post-inner .post-excerpt {
    margin: 0 0 20px;
  }
}
.journal-section .sidebar-wrapper .posts .post .post-inner .btn, .journal-section .sidebar-wrapper .posts .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .journal-section .sidebar-wrapper .posts .post .post-inner .post-title a,
.search-section .sidebar-wrapper .posts .post .post-inner .btn,
.search-section .sidebar-wrapper .posts .our-journal .posts-grid .posts-column .post .post-inner .post-title a,
.our-journal .posts-grid .posts-column .search-section .sidebar-wrapper .posts .post .post-inner .post-title a {
  font-size: 24px;
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .posts .post .post-inner .btn, .journal-section .sidebar-wrapper .posts .our-journal .posts-grid .posts-column .post .post-inner .post-title a, .our-journal .posts-grid .posts-column .journal-section .sidebar-wrapper .posts .post .post-inner .post-title a,
.search-section .sidebar-wrapper .posts .post .post-inner .btn,
.search-section .sidebar-wrapper .posts .our-journal .posts-grid .posts-column .post .post-inner .post-title a,
.our-journal .posts-grid .posts-column .search-section .sidebar-wrapper .posts .post .post-inner .post-title a {
    font-size: 20px;
  }
}
.journal-section .sidebar-wrapper .sidebar-right,
.search-section .sidebar-wrapper .sidebar-right {
  flex-grow: 1;
  position: relative;
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .sidebar-right,
.search-section .sidebar-wrapper .sidebar-right {
    width: 100%;
    overflow: hidden;
  }
}
.journal-section .sidebar-wrapper .sidebar-right .sidebar-pattern,
.search-section .sidebar-wrapper .sidebar-right .sidebar-pattern {
  max-width: unset;
  position: absolute;
  top: 0;
  left: 0;
}
.journal-section .sidebar-wrapper .sidebar-right .sidebar,
.search-section .sidebar-wrapper .sidebar-right .sidebar {
  margin-top: 80px;
}
@media (max-width: 992px) {
  .journal-section .sidebar-wrapper .sidebar-right .sidebar,
.search-section .sidebar-wrapper .sidebar-right .sidebar {
    padding-left: 0;
    border-left: none;
  }
}
.journal-section .nav-links,
.search-section .nav-links {
  font-family: "Veneer", sans-serif;
  font-size: 28px;
  text-align: center;
}
.journal-section .nav-links *,
.search-section .nav-links * {
  margin: 0 8px;
}
.journal-section .nav-links a,
.search-section .nav-links a {
  color: #EE3E3A;
}
.journal-section .nav-links a:hover,
.search-section .nav-links a:hover {
  color: #231F20;
}

.journal-single {
  padding: 64px 0;
}
@media (max-width: 1200px) {
  .journal-single {
    padding: 40px 0;
  }
}
.journal-single .container {
  max-width: 1664px;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 1200px) {
  .journal-single .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 768px) {
  .journal-single .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 992px) {
  .journal-single .container .sidebar-wrapper {
    flex-direction: column;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left {
  flex-grow: 1;
  margin-right: 40px;
}
@media (max-width: 992px) {
  .journal-single .container .sidebar-wrapper .sidebar-left {
    margin-right: 0;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left .post-image img {
  width: 100%;
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section {
    padding: 40px 0;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content p {
  margin: 0 0 32px;
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content p:first-child {
  font-family: "Veneer", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content p:first-child {
    margin: 0 0 20px;
  }
}
@media (max-width: 480px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content p:first-child {
    font-size: 18px;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content p:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content p {
    margin: 0 0 20px;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content a {
  color: #EE3E3A;
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content a:hover {
  color: #231F20;
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content .wp-block-gallery {
  margin: 64px 0 40px;
}
@media (max-width: 480px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content .wp-block-gallery {
    margin: 40px 0;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content .wp-block-gallery .blocks-gallery-item {
  width: calc((100% - 52px) / 2);
  max-height: 75vh;
  margin: 0 52px 16px 0;
}
@media (max-width: 768px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content .wp-block-gallery .blocks-gallery-item {
    width: calc((100% - 20px) / 2);
    margin: 0 20px 16px 0;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content .wp-block-gallery .blocks-gallery-item:last-child {
  margin-right: 0;
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content .wp-block-image {
  margin: 64px 0 40px;
  text-align: center;
}
@media (max-width: 480px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .standard-content-section-inner .post-content .wp-block-image {
    margin: 40px 0;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .btn-container {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .journal-single .container .sidebar-wrapper .sidebar-left .standard-content-section .btn-container {
    margin-top: 40px;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-right {
  width: 320px;
  min-width: 320px;
  position: relative;
}
@media (max-width: 1400px) {
  .journal-single .container .sidebar-wrapper .sidebar-right {
    width: 260px;
    min-width: 260px;
  }
}
@media (max-width: 992px) {
  .journal-single .container .sidebar-wrapper .sidebar-right {
    width: 100%;
    min-width: unset;
    overflow: hidden;
  }
}
.journal-single .container .sidebar-wrapper .sidebar-right .sidebar-pattern {
  max-width: unset;
  position: absolute;
  top: 0;
  left: 0;
}
.journal-single .container .sidebar-wrapper .sidebar-right .sidebar {
  margin-top: 80px;
}
@media (max-width: 992px) {
  .journal-single .container .sidebar-wrapper .sidebar-right .sidebar {
    padding-left: 0;
    border-left: none;
  }
}

.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
  display: none;
}
.woocommerce span.onsale {
  padding: 0;
  background: #231F20;
}
.woocommerce div.product .woocommerce-product-gallery__image {
  text-align: center;
}
.woocommerce div.product div.images img {
  display: inline-block;
  width: auto;
}
.woocommerce div.product span.price,
.woocommerce div.product p.price {
  font-family: "Veneer", sans-serif;
  color: #231F20;
  font-size: 32px;
}
.woocommerce div.product form.cart {
  margin-top: 32px;
}
.woocommerce ul.products li.product {
  text-align: center;
}
.woocommerce ul.products li.product a img {
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0 0 -2em;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  color: #231F20;
  font-size: 24px;
  letter-spacing: 1px;
}
.woocommerce ul.products li.product .price {
  font-size: 16px;
  color: #404041;
}
.woocommerce ul.products li.product .added_to_cart {
  font-size: 100%;
  font-family: "Veneer", sans-serif;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  left: auto;
  color: #fff;
  background-color: #231F20;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  letter-spacing: 1px;
}
.woocommerce ul.products li.product .added_to_cart:hover {
  background: #333132;
  color: #fff;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  min-height: 36px;
  font-size: 14px;
  font-family: "MetaSerifPro", serif;
  padding: 0 10px;
  line-height: 36px;
  border: none;
  background: #f6f6f6;
}
.woocommerce form .form-row textarea {
  padding: 10px;
}
.woocommerce a,
.woocommerce button {
  color: #231F20;
}
.woocommerce a.button,
.woocommerce button.button {
  background: #231F20;
  color: #fff;
  border-radius: 0;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover {
  background: #333132;
  color: #fff;
}
.woocommerce a.button.alt, .woocommerce a.button.add_to_cart_button,
.woocommerce button.button.alt,
.woocommerce button.button.add_to_cart_button {
  background: #EE3E3A;
}
.woocommerce a.button.alt:hover, .woocommerce a.button.add_to_cart_button:hover,
.woocommerce button.button.alt:hover,
.woocommerce button.button.add_to_cart_button:hover {
  background: #333132;
}
.woocommerce a.button:disabled,
.woocommerce button.button:disabled {
  color: #fff !important;
}
.woocommerce .return-to-shop {
  text-align: center;
}

.woocommerce-cart-form table.cart .product-name a {
  font-family: "Veneer", sans-serif;
  letter-spacing: 0.8px;
}
.woocommerce-cart-form table.cart .actions .coupon #coupon_code {
  width: auto !important;
  height: 36px;
  font-size: 14px;
  font-family: "MetaSerifPro", serif;
  padding: 0 10px;
  line-height: 36px;
  margin-right: 8px;
  border: none;
  background: #f6f6f6;
}

.woocommerce-message,
.woocommerce-info {
  border-top-color: #231F20;
}
.woocommerce-message:before,
.woocommerce-info:before {
  color: #231F20;
}

body.single-product .sidebar-left {
  margin-right: 0;
}
body.single-product .sidebar-right {
  display: none;
}

.cart-link {
  position: relative;
}
.cart-link .cart-count {
  position: absolute;
  background: #EE3E3A;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  line-height: 8px;
  padding-bottom: 2px;
  top: -10px;
  right: -6px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
