/*!
Theme Name: jb-web
Author: Raphael Segerman
Version: 1.0.0
Text Domain: jb-web
*/


// ==================== Variables / Placeholders ==================== //

// Fonts

$veneer: "Veneer", sans-serif;
$ut: "UT Laurelle Press", serif;
$meta: "MetaSerifPro", serif;


// Colours

$black: #231F20;
$grey-dark: #404041;
$grey: #333132;
$grey-border: #BBBDBF;
$off-white: #f6f6f6;
$white: #fff;
$red: #EE3E3A;


// Viewports

$desktop-lg: 1400px;
$desktop: 1200px;
$tablet-lg: 992px;
$tablet: 768px;
$mobile: 480px;


// Placeholders

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%section-dark-bg {
  background: {
    image: url('assets/img/footer-texture.png');
    color: $grey;
  }
}


// ==================== Globals ==================== //

* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow-x: hidden;

  &.mobile-menu-active,
  &.search-active {
    overflow: hidden;
  }
}

body {
  margin: 0;
  padding-top: 128px;
  color: $grey;
  font: {
    family: $meta;
    size: 16px;
  }
  line-height: 1.6;

  @media (max-width: $desktop) {
    padding-top: 80px;
  }

  @media (max-width: $tablet-lg) {
    font-size: 15px;
  }
}

.container {
  max-width: 1400px;
  padding: {
    left: 32px;
    right: 32px;
  }

  @media (max-width: 1480px) {
    max-width: 1200px;
  }

  @media (max-width: $tablet-lg) {
    max-width: 100%;
  }

  @media (max-width: $tablet) {
    padding: {
      left: 24px;
      right: 24px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $veneer;
    weight: normal;
  }
  line-height: 1;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  transition: .1s;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.btn,
.button,
button,
input[type="submit"] {
  display: inline-block;
  padding: 0 0 8px;
  color: $grey-dark;
  font: {
    family: $veneer;
    size: 32px;
  }
  background: transparent;
  border: {
    top: none;
    left: 0;
    right: 0;
    bottom: 4px solid;
  }
  line-height: 1;
  letter-spacing: 1px;
  appearance: none;
  transition: .2s;

  @media (max-width: $tablet-lg) {
    padding: 0 0 4px;
    font-size: 24px;
  }

  @media (max-width: $mobile) {
    padding: 0 0 4px;
    font-size: 20px;
    border-width: 3px;
  }

  &:hover {
    background: transparent;
    color: $red;
    cursor: pointer;
  }

  &.btn-red {
    color: $red;

    &:hover {
      color: $grey-dark;
    }

    .section-dark & {
      &:hover {
        color: $white;
      }
    }
  }

  &.btn-white {
    color: $white;

    &:hover {
      color: $red;
    }
  }
}

.btn-container {
  text-align: center;
}


// Section headings

.section-header {
  &.section-header-fancy {
    margin-bottom: 64px;

    @media (max-width: $desktop) {
      margin-bottom: 48px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }

    .section-title,
    .section-subtitle {
      margin: {
        top: 0;
        bottom: 0;
      }
    }

    .section-title {
      color: $red;
      font-size: 50px;
      letter-spacing: 1px;

      @media (max-width: $desktop) {
        font-size: 40px;
      }

      @media (max-width: $mobile) {
        font-size: 32px;
      }
    }

    .section-subtitle {
      margin-top: -4px;
      font: {
        family: $ut;
        size: 78px;
      }

      .section-dark & {
        color: $white;
      }

      @media (max-width: $desktop) {
        margin-top: 0;
        font-size: 56px
      }

      @media (max-width: $mobile) {
        font-size: 44px;
      }
    }

    .section-header-inner {
      display: flex;
      margin: {
        top: -8px;
        left: -166px;
      }

      @media (max-width: $desktop) {
        margin-top: 4px;
        margin-left: -186px;
      }

      @media (max-width: $mobile) {
        margin-top: 8px;
        margin-left: -216px;
      }

      .section-header-pattern {
        margin-right: 24px;

        @media (max-width: $desktop) {
          margin-right: 16px;
        }

        @media (max-width: $mobile) {
          margin-right: 12px;
        }
      }
    }
  }

  &.section-header-large {
    .section-title {
      margin: 0;
      font: {
        family: $ut;
        size: 180px;
      }
      color: #efefef;

      @media (max-width: $desktop-lg) {
        font-size: 160px;
      }

      @media (max-width: $desktop) {
        font-size: 140px;
      }

      @media (max-width: $tablet-lg) {
        font-size: 100px;
      }

      @media (max-width: $tablet) {
        font-size: 80px;
      }

      @media (max-width: $tablet) {
        font-size: 72px;
      }
    }
  }
}


// ==================== Age Gate ==================== //

.age-restriction {
  @extend %section-dark-bg;

  .age-gate-wrapper {
    background: {
      image: url('/wp-content/themes/jb-web/assets/img/age-gate/age-gate-bg.png');
      size: 82%;
      repeat: no-repeat;
      position: center;
      color: transparent;
    }

    @media (max-width: $tablet-lg) {
      background: {
        size: cover;
        position: bottom;
      }
    }

    .age-gate {
      padding: 0;

      .age-gate-form {
        max-width: 100%;
        padding: 50px 24px;
        background: none;

        .age-gate-logo {
          max-width: 360px;
          margin: 0 auto 40px;

          @media (max-width: $tablet) {
            max-width: 300px;
          }
        }

        .age-gate-challenge {
          margin: 0 0 24px;
          font: {
            family: $veneer;
            size: 60px;
            weight: normal;
          }
          color: $white;
          letter-spacing: 2px;

          @media (max-width: $tablet) {
            font-size: 40px;
            line-height: 1.2;
          }
        }

        .age-gate-error-message {
          font: {
            family: $veneer;
            size: 40px;
            weight: normal;
          }
          color: $red;
          letter-spacing: 2px;
        }

        button {
          @extend .btn-red;
          height: 48px;
          padding: 0 48px 4px;
          line-height: 48px;
          font-size: 24px;
          border: 2px solid $red;
          letter-spacing: 1px;

          &:hover {
            background: $red;
            color: $white;
          }

          &.age-gate-submit-yes {
            margin: 0 12px 10px 0;
          }

          @media (max-width: $mobile) {
            display: block;
            width: 100%;
            margin: 12px 0;
          }
        }

        .social-links {
          margin-top: 72px;

          @media (max-width: $tablet) {
            margin-top: 52px;
          }

          a {
            margin: 0 12px;

            img {
              transition: .2s;
            }

            &:hover {
              img {
                filter: invert(1);
              }
            }
          }
        }
      }
    }
  }
}



// ==================== Header ==================== //

.site-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 128px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
  background: $white;
  border-bottom: 1px solid $grey-border;
  transition: .5s ease;
  z-index: 10;

  @media (max-width: $desktop) {
    height: 80px;
    padding: 0 20px;
  }

  &.nav-up {
    transform: translateY(-80px);
  }

  .scrolled & {
    height: 80px;
    padding: 0 20px;
  }

  .header-logo {
    display: block;
    max-width: 260px;
    transition: .5s ease;

    .scrolled & {
      max-width: 160px;
    }

    @media (max-width: $desktop) {
      max-width: 160px;
    }

    @media (max-width: $tablet-lg) {
      margin-right: auto;
    }

    svg {
      display: block;
    }
  }

  .menu-toggle {
    &:hover {
      cursor: pointer;
    }
  }

  .main-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    transition: .5s ease;

    @media (max-width: $tablet-lg) {
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $white;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 99;
      overflow: hidden;

      .mobile-menu-active & {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    .menu-close {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 28px 20px;
      z-index: 2;

      @media (max-width: $tablet-lg) {
        display: block;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .menu-primary-menu-container {
      margin: 0 auto;

      @media (max-width: $tablet-lg)  {
        margin: 0 auto 40px;
        text-align: center;
      }

      .menu {
        display: flex;
        margin: 0 0 0 -100px;
        padding: 0;
        list-style: none;

        @media (max-width: $desktop) {
          margin: 0;
        }

        @media (max-width: $tablet-lg) {
          flex-direction: column;
        }

        li {
          margin-right: 24px;

          @media (max-width: $tablet-lg) {
            margin: {
              right: 0;
              bottom: 12px;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          &.current-menu-item {
            a {
              color: $red;
              border-bottom: 2px solid;
            }
          }

          &.menu-brewery,
          &.menu-story {
            position: relative;

            &:hover {
              .sub-menu {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }
            }

            .sub-menu {
              width: 160px;
              position: absolute;
              left: 50%;
              top: 42px;
              background: $white;
              margin: 0 0 0 -80px;
              padding: 4px 20px;
              list-style: none;
              text-align: center;
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              transition: .3s;

              @media (max-width: $desktop) {
                top: 36px;
              }

              @media (max-width: $tablet-lg) {
                display: none;
              }

              .scrolled & {
                top: 36px;
              }

              li {
                margin: 0;
                border-bottom: 1px solid #808184;

                &:last-child {
                  border-bottom: none;
                }

                a {
                  display: inline-block;
                  padding: 6px 0 4px;
                  font-size: 15px;
                  border: none;
                  letter-spacing: .5px;
                  color: $grey;

                  &:hover {
                    color: $red;
                  }
                }
              }
            }
          }

          a {
            padding-bottom: 8px;
            color: $black;
            font: {
              family: $veneer;
              size: 22px;
            }
            transition: .2s ease;

            @media (max-width: $desktop) {
              padding-bottom: 4px;
              font-size: 20px;
            }

            @media (max-width: $tablet-lg) {
              padding-bottom: 0;
              font-size: 24px;
            }

            .scrolled & {
              padding-bottom: 4px;
              font-size: 20px;

              @media (max-width: $desktop) {
                padding-bottom: 4px;
                font-size: 20px;
              }

              @media (max-width: $tablet-lg) {
                font-size: 24px;
              }
            }

            &:hover {
              color: $red;
              border-bottom: 2px solid;
            }
          }
        }
      }
    }
  }

  .secondary-menus {
    display: flex;
    align-items: center;

    .secondary-menu {
      display: flex;
      align-items: center;
      padding: 8px 0;
      transition: .5s ease;

      .scrolled & {
        padding: 4px;
      }

      @media (max-width: $desktop) {
        padding: 4px;
      }

      &.social-links {
        padding-right: 32px;
        margin-right: 26px;
        border-right: 1px solid $grey-border;
        transition: .5s ease;

        .scrolled & {
          padding-right: 24px;
          margin-right: 24px;

          @media (max-width: $desktop) {
            margin-right: 16px;
          }
        }

        @media (max-width: $desktop) {
          padding-right: 24px;
          margin-right: 16px;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          svg {
            g,
            path {
              fill: $red;
            }
          }
        }
      }
    }
  }

  .menu-toggle {
    display: none;

    @media (max-width: $tablet-lg) {
      display: block;
    }
  }
}


// ==================== Footer ==================== //

.footer-contact {
  padding: 116px 0;
  border-top: 1px solid $grey-border;

  .page-template-template-brewery & {
    border-top: none;
  }

  @media (max-width: $tablet-lg) {
    padding: 64px 0;
  }

  @media (max-width: $mobile) {
    padding: 40px 0;
  }

  .section-content {
    display: flex;

    @media (max-width: $tablet-lg) {
      flex-direction: column;
    }

    .section-content-left {
      width: 46%;
      margin-right: 64px;

      @media (max-width: $tablet-lg) {
        width: 100%;
        margin: {
          right: 0;
          bottom: 64px;
        }
      }

      @media (max-width: $tablet) {
        margin-bottom: 40px;
      }

      .wpcf7 {
        .wpcf7-form {
          p {
            margin: 0;

            .wpcf7-form-control-wrap {
              display: block;
              margin-bottom: 16px;

              input,
              textarea {
                width: 100%;
                padding: 0 20px;
                background: $off-white;
                border: none;
                font: {
                  family: $veneer;
                  size: 20px;
                }
                color: $black;
                letter-spacing: 2px;

                &::placeholder {
                  color: $grey;
                }

                @media (max-width: $mobile) {
                  font-size: 18px;
                }
              }

              input {
                height: 48px;
                padding-top: 2px;
              }

              textarea {
                padding-top: 12px;
              }
            }

            .wpcf7-submit {
              margin-top: 12px;

              @media (max-width: $mobile) {
                margin-top: 4px;
              }
            }

            br {
              display: none;
            }
          }
        }
      }
    }

    .section-content-right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      background: {
        size: cover;
        position: center;
      }

      @media (max-width: $tablet-lg) {
        min-height: 44vh;
      }

      svg {
        @media (max-width: $tablet) {
          max-width: 120px;
        }
      }
    }
  }
}

.site-footer {
  @extend %section-dark-bg;
  padding: 72px 0;
  position: relative;
  color: $white;

  @media (max-width: $tablet-lg) {
    padding: 64px 0;
  }

  @media (max-width: $mobile) {
    padding: 40px 0;
  }

  .footer-content {
    display: flex;

    @media (max-width: $desktop-lg) {
      flex-direction: column;
    }

    .footer-widgets {
      display: flex;
      margin-right: auto;

      @media (max-width: $tablet-lg) {
        flex-direction: column;
      }

      .footer-widget {
        min-width: 200px;
        padding-right: 80px;
        margin-right: 44px;
        border-right: 1px solid $black;

        @media (max-width: $tablet-lg) {
          padding-right: 0;
          margin: {
            right: 0;
            bottom: 52px;
          }
          border-right: none;
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;
          border-right: none;

          @media (max-width: $tablet-lg) {
            margin-bottom: 0;
          }

          .footer-widget-content {
            span {
              margin-bottom: 8px;
            }
          }
        }

        .widget-title {
          display: inline-block;
          margin: 0 0 20px;
          font: {
            family: "Veneer", sans-serif;
            size: 20px;
          }
          border-bottom: 2px solid;
          letter-spacing: 1px;
        }

        .footer-widget-content {
          margin-bottom: 20px;
          line-height: 1;

          &:last-child {
            margin: 0;
          }

          strong {
            display: block;
            margin-bottom: 4px;
            font: {
              family: "Veneer", sans-serif;
              size: 18px;
              weight: normal;
            }
            letter-spacing: 1px;
          }

          br {
            display: none;
          }

          span {
            display: block;
            font-size: 15px;
          }

          a {
            color: $white;

            &:hover {
              border-bottom: 1px solid;
            }
          }
        }
      }
    }

    .footer-right {
      display: flex;
      flex-direction: column;

      @media (max-width: $desktop-lg) {
        flex-direction: row;
        align-items: center;
        margin-top: 60px;
      }

      @media (max-width: $tablet-lg) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 52px;
      }

      .footer-menus {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: auto;

        @media (max-width: $tablet-lg) {
          margin: {
            left: -16px;
            bottom: 32px;
          }
        }

        .footer-menu {
          display: flex;
          align-items: center;
          padding: 8px 0;
          transition: .5s ease;

          @media (max-width: $desktop) {
            padding: 4px;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-right: 8px;

            &:hover {
              opacity: .6;
            }

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              svg {
                g,
                path {
                  fill: $red;
                }
              }
            }
          }
        }
      }

      .copyright {
        color: #000;
        font-size: 13px;

        @media (max-width: $desktop-lg) {
          order: -1;
          margin-right: auto;
        }

        @media (max-width: $tablet-lg) {
          order: 1;
          margin-right: auto;
        }
      }
    }
  }
}


// ==================== Global Sections ==================== //

.section-dark {
  background: {
    image: url('assets/img/footer-texture.png');
    color: $grey;
  }
  color: $white;
}

.banner-section {
  width: calc(100% - 120px);
  height: 86vh;
  margin: 60px 60px 0;
  position: relative;

  @media (max-width: $desktop-lg) {
    width: calc(100% - 72px);
    height: 80vh;
    margin: 36px 36px 0;
  }

  @media (max-width: $tablet-lg) {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  @media (max-width: $tablet) {
    width: calc(100% - 48px);
    margin: 24px 24px 0;
  }

  .banner-section-background  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: {
      size: cover;
      position: center;
    }

    @media (max-width: $tablet-lg) {
      position: relative;
      height: 50vh;
    }

    @media (max-width: $tablet) {
      position: relative;
      height: 40vh;
    }
  }

  .banner-section-content-wrap {
    max-width: 440px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    background: $white;
    padding: 64px 40px;

    @media (max-width: $tablet-lg) {
      position: relative;
      bottom: auto;
      left: auto;
      max-width: 100%;
      padding: 36px 0 0;
    }

    .banner-section-title {
      margin: 0 0 24px;
      font-size: 58px;
      color: $red;

      @media (max-width: $tablet-lg) {
        font-size: 44px;
      }

      @media (max-width: $tablet) {
        margin: 0 0 16px;
        font-size: 44px;
      }
    }

    .banner-section-content {
      margin: 0 0 36px;

      @media (max-width: $tablet) {
        margin: 0 0 32px;
      }
    }
  }
}

.standard-content-section {
  padding: 116px 0;

  @media (max-width: $desktop) {
    padding: 80px 0;
  }

  @media (max-width: $tablet-lg) {
    padding: 64px 0;
  }

  @media (max-width: $mobile) {
    padding: 40px 0;
  }

  .standard-content-section-inner {
    padding-left: 106px;

    @media (max-width: $tablet-lg) {
      padding-left: 0;
    }

    .content-large,
    .content-small {
      max-width: 72%;

      @media (max-width: $tablet-lg) {
        max-width: 100%;
      }
    }

    .content-large {
      margin: 0 0 32px;
      font: {
        family: $veneer;
        size: 20px;
      }
      letter-spacing: 1px;

      @media (max-width: $tablet) {
        margin: 0 0 20px;
      }

      @media (max-width: $mobile) {
        font-size: 18px;
      }
    }

    .content-small {
      margin: 0 0 32px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $tablet) {
        margin: 0 0 20px;
      }
    }

    .button-list {
      margin-top: 52px;
      display: flex;
      align-items: center;

      @media (max-width: $tablet) {
        margin-top: 40px;
      }

      @media (max-width: $mobile) {
        flex-direction: column;
        align-items: flex-start;
      }

      .button-item {
        margin-right: 32px;
        padding-right: 32px;
        border-right: 1px solid #BBBDBF;

        @media (max-width: $desktop) {
          margin-right: 20px;
          padding-right: 20px;
        }

        @media (max-width: $mobile) {
          margin: {
            right: 0;
            bottom: 20px;
          }
          padding-right: 0;
          border-right: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: 0;
        }

        .btn {
          padding: 10px 0 6px;
          font-size: 30px;
          border-color: transparent;

          @media (max-width: $desktop-lg) {
            font-size: 28px;
          }

          @media (max-width: $desktop) {
            font-size: 24px;
          }

          @media (max-width: $tablet-lg) {
            font-size: 20px;
          }

          @media (max-width: $mobile) {
            font-size: 24px;
            border: {
              color: inherit;
              width: 3px;
            }
          }

          &:hover {
            border-color: $red;
          }
        }
      }
    }
  }

  &.section-dark {
    .section-header-pattern {
      g,
      path {
        fill: $black;
      }
    }
  }
}

.image-section {
  width: 100%;
  height: 80vh;
  background: {
    size: cover;
    position: center;
  }

  @media (max-width: $desktop) {
    height: 72vh;
  }

  @media (max-width: $tablet-lg) {
    height: 60vh;
  }
}

.image-slider-section {
  overflow: visible;
  margin-bottom: 60px;

  &.image-slider-section-alt {
    margin-bottom: 0;

    .swiper-pagination {
      bottom: 40px;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      height: 80vh !important;
      background: {
        size: cover;
        position: center;
      }

      @media (max-width: $desktop) {
        height: 72vh !important;
      }

      @media (max-width: $tablet-lg) {
        height: 60vh !important;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 28px;
    height: 28px;
    opacity: .55;
    transition: .2s;

    &:hover {
      opacity: 1;
    }

    &:after {
      display: none;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .swiper-button-prev {
    left: 48px;

    @media (max-width: $tablet) {
      left: 20px;
    }
  }

  .swiper-button-next {
    right: 48px;

    @media (max-width: $tablet) {
      right: 20px;
    }
  }

  .swiper-pagination {
    bottom: -60px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 8px;
      background: #ccc;
      border: 2px solid #ccc;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: $white;
      }
    }
  }
}

.sidebar-wrapper {
  display: flex;
  align-items: flex-start;

  .sidebar-right {
    width: 360px;
    margin-left: auto;

    @media (max-width: $desktop-lg) {
      width: 300px;
    }

    .sidebar {
      padding: {
        left: 24px;
        bottom: 32px;
      }
      border-left: 1px solid $grey;

      .sidebar-widget {
        margin-bottom: 64px;

        @media (max-width: $tablet) {
          margin-bottom: 44px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .sidebar-widget-title {
          display: inline-block;
          padding-bottom: 12px;
          margin: 0 0 20px;
          font-size: 26px;
          color: #929396;
          border-bottom: 4px solid;
        }

        .sidebar-widget-content {
          .sidebar-link {
            display: block;
            margin-bottom: 12px;
            font: {
              family: $veneer;
              size: 20px;
            }
            color: $grey;
            letter-spacing: .5px;
            line-height: 1;

            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              color: $red;
            }
          }
        }
      }
    }
  }
}

.search-form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .98);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 99;
  overflow: hidden;
  transition: .5s ease;

  .search-active & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .search-close {
    position: absolute;
    top: 8px;
    right: 12px;
    padding: 32px;

    &:hover {
      cursor: pointer;

      svg {
        g,
        path {
          fill: $red;
        }
      }
    }

    svg {
      width: 40px;
      transition: .2s;
    }
  }

  .search-form-section-inner {
    @media (max-width: $tablet) {
      width: 90%;
    }

    .search-form-title {
      text-align: center;
    }

    .search-form {
      display: flex;

      @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
      }

      label {
        width: 100%;
      }

      .search-field {
        width: 440px;
        height: 48px;
        padding: 0 20px;
        margin-right: 24px;
        background: #f6f6f6;
        border: none;
        font-family: "Veneer", sans-serif;
        font-size: 20px;
        color: #231F20;
        letter-spacing: 2px;

        @media (max-width: $tablet) {
          width: 100%;
          margin: {
            right: 0;
            bottom: 24px;
          }
        }
      }
    }
  }
}

.page-wrapper {
  padding: 64px 0;

  @media (max-width: $desktop) {
    padding: 52px 0;
  }

  @media (max-width: $tablet) {
    padding: 40px 0;
  }
}


// ==================== Homepage ==================== //

.home-our-beers {
  padding: 72px 0 100px;

  @media (max-width: $tablet-lg) {
    padding: 40px 0 64px;
  }

  @media (max-width: $mobile) {
    padding: 40px 0;
  }

  .section-header {
    margin: 0 0 -52px -120px;

    @media (max-width: $desktop-lg) {
      margin: 0 0 -44px -100px;
    }

    @media (max-width: $desktop) {
      margin: 0 0 0 -72px;
    }

    @media (max-width: $tablet-lg) {
      margin: 0 0 24px -12px;
    }
  }

  .our-beers-inner {
    display: flex;
    align-items: center;

    @media (max-width: $tablet-lg) {
      align-items: flex-start;
      flex-direction: column;
    }

    .our-beers-content {
      max-width: 370px;
      margin-right: auto;

      @media (max-width: $tablet-lg) {
        max-width: 100%;
        margin-right: 0;
      }

      p {
        margin: 0 0 32px;
      }
    }

    .our-beers-image {
      max-width: 60%;
      margin-left: 40px;

      @media (max-width: $tablet-lg) {
        order: -1;
        max-width: 600px;
        margin: {
          left: 0;
          bottom: 24px;
        }
      }

      @media (max-width: $tablet) {
        max-width: 100%;
      }
    }
  }
}

.our-journal {
  padding: 120px 0;

  @media (max-width: $tablet-lg) {
    padding: 64px 0;
  }

  @media (max-width: $mobile) {
    padding: 40px 0;
  }

  .section-header {
    @media (min-width: $desktop) {
      margin-bottom: 72px;
    }

    .section-header-inner {
      margin-top: -4px;

      .section-header-pattern {
        g,
        path {
          fill: $black;
        }
      }
    }
  }

  .posts-grid {
    display: flex;
    margin: 0 -10px;

    @media (max-width: $tablet-lg) {
      flex-direction: column;
      margin: 0;
    }

    .posts-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 480px;
      margin: 0 10px;

      @media (max-width: $tablet-lg) {
        height: auto;
        margin: 0;
      }

      &.posts-column-1 {
        width: 30%;

        @media (max-width: $desktop) {
          width: 18%;
        }

        @media (max-width: $tablet-lg) {
          width: auto;
        }

        .post {
          .post-inner {
            min-width: 380px;
            max-width: calc(100% - 64px);
            padding: 32px;
            bottom: 32px;
            left: 32px;

            @media (max-width: $tablet-lg) {
              max-width: calc(100% - 48px);
              min-width: unset;
              padding: 24px;
              bottom: 24px;
              left: 24px;
            }

            @media (max-width: $mobile) {
              max-width: 100%;
              bottom: 0;
              left: 0;
              right: 0;
            }

            .post-title {
              a {
                font-size: 32px;

                @media (max-width: $tablet-lg) {
                  font-size: 24px;
                }
              }
            }

            .post-date {
              font-size: 17px;

              @media (max-width: $tablet-lg) {
                font-size: 14px;
              }
            }
          }
        }
      }

      &.posts-column-2 {
        .post {
          &:first-child {
            margin-bottom: 20px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .post-inner {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            padding: 36px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            @media (max-width: $tablet-lg) {
              display: block;
              width: auto;
              height: auto;
              padding: 24px;
              bottom: 24px;
              left: 24px;
              right: auto;
              top: auto;
            }

            @media (max-width: $mobile) {
              bottom: 0;
              left: 0;
              right: 0;
            }

            .post-title {
              a {
                font-size: 24px;
              }
            }

            .post-date {
              font-size: 14px;
            }
          }
        }
      }

      .post {
        flex-grow: 1;
        position: relative;
        background: {
          size: cover;
          position: center;
        }

        @media (max-width: $tablet-lg) {
          height: 420px;
          margin-bottom: 20px;
        }

        @media (max-width: $mobile) {
          height: 60vh;
        }

        .post-inner {
          position: absolute;
          background: rgba(35, 31, 32, .7);

          .post-title {
            margin: 0 0 12px;

            a {
              @extend .btn;
              color: $white;
            }
          }

          .post-date {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .5px;
          }
        }
      }
    }
  }
}


// ==================== Beers Page ==================== //

.our-beers {
  padding: 64px 0 120px;
  position: relative;

  @media (max-width: $tablet-lg) {
    padding: 52px 0 72px;
  }

  @media (max-width: $mobile) {
    padding: 32px 0 44px;
  }

  .section-header {
    margin-bottom: -48px;

    @media (max-width: $tablet-lg) {
      margin-bottom: -24px;
    }
  }

  .slider-fade {
    position: absolute;
    right: 0;
    bottom: 100px;
    pointer-events: none;

    @media (max-width: $tablet-lg) {
      display: none;
    }
  }

  .our-beers-inner {
    margin: 0 auto;
    white-space: nowrap;
    overflow: -moz-scrollbars-none;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
      cursor: -webkit-grabbing;
      cursor:    -moz-grabbing;
      cursor:         grabbing;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 1480px) {
      max-width: 100%;
    }

    @media (max-width: $tablet-lg) {
      display: block;
      max-width: 500px;
      opacity: .99;
      cursor: auto !important;
    }

    .our-beers-beer {
      display: inline-block;
      margin: 0 10px;
      text-align: center;
      white-space: pre-line;
      @extend %clearfix;

      &:first-child {
        padding-left: 15%;

        @media (max-width: $desktop) {
          padding-left: 10%;
        }

        @media (max-width: $tablet-lg) {
          padding-left: 0;
        }
      }

      &:last-child {
        padding-right: 15%;

        @media (max-width: $desktop) {
          padding-right: 10%;
        }

        @media (max-width: $tablet-lg) {
          padding-right: 0;
        }
      }

      @media (max-width: $desktop) {
        margin: 0 8px;
      }

      @media (max-width: $tablet-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        float: left;
        text-align: center;
        margin: 0 0 40px;

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          margin-bottom: 0;
        }
      }

      @media (max-width: $mobile) {
        width: 100%;
        margin-bottom: 32px;

        &:nth-child(4) {
          margin-bottom: 32px;
        }

        &:nth-child(7),
        &:nth-child(8) {
          margin-bottom: 32px;
        }
      }

      .our-beers-beer-image {
        max-height: 600px;
        margin-bottom: -40px;

        @media (max-width: $desktop) {
          width: 140px;
        }

        @media (max-width: $tablet-lg) {
          width: 100px;
          margin-bottom: -20px;
        }
      }

      .our-beers-beer-link {
        display: block;

        @media (max-width: $tablet-lg) {
          margin-top: 8px;
        }

        .btn {
          font-size: 20px;

          @media (max-width: $tablet-lg) {
            font-size: 18px;
          }

          @media (max-width: $mobile) {
            font-size: 17px;
          }
        }
      }
    }
  }
}

.beer-section {
  padding: 120px 0 116px;
  position: relative;
  border-top: 1px solid #bbb;

  @media (max-width: $tablet-lg) {
    padding: 60px 0 72px;
  }

  @media (max-width: $mobile) {
    padding: 40px 0;
  }

  .section-header {
    margin-bottom: -180px;
    text-align: right;

    @media (max-width: $tablet-lg) {
      margin-bottom: -90px;
    }

    @media (max-width: $tablet) {
      margin: 0;
      position: absolute;
      top: 10%;
      right: 24px;
      opacity: .6;
    }

    .section-title {
      @media (max-width: $tablet) {
        font-size: 18vw;
      }
    }
  }

  .beer-section-inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: .99;

    @media (max-width: $tablet-lg) {
      align-items: flex-start;
    }

    @media (max-width: $tablet) {
      flex-direction: column;
    }

    .beer-content {
      width: 550px;

      @media (max-width: $tablet-lg) {
        width: 520px;
      }

      @media (max-width: $tablet) {
        width: auto;
      }

      .beer-content-title,
      .beer-content-subtitle {
        font-family: $veneer;
        letter-spacing: 1px;
      }

      .beer-content-title {
        margin: 0 0 16px;
        font-size: 72px;

        @media (max-width: $tablet-lg) {
          font-size: 60px;
        }

        @media (max-width: $mobile) {
          margin: 0 0 8px;
          font-size: 44px;
        }
      }

      .beer-content-subtitle {
        margin: 0 0 20px;
        font-size: 36px;
        line-height: 1.2;

        @media (max-width: $tablet-lg) {
          font-size: 32px;
        }

        @media (max-width: $mobile) {
          margin: 0 0 16px;
          font-size: 22px;
        }
      }

      .beer-content-description {
        margin: 0;
        padding: 28px 0;
        font-size: 19px;
        border: {
          top: 6px solid $black;
          bottom: 6px solid $black;
        }
        letter-spacing: .5px;

        @media (max-width: $tablet-lg) {
          padding: 20px 0;
          font-size: 17px;
          border-width: 5px;
        }

        @media (max-width: $mobile) {
          font-size: 15px;
          letter-spacing: 0;
        }

        .beer-pairing {
          font-weight: bold;
        }
      }

      .beer-content-stats {
        display: flex;
        padding: 20px 0;
        border-bottom: 6px solid $black;
        @extend %clearfix;

        @media (max-width: $tablet-lg) {
          border-width: 5px;
        }

        @media (max-width: $mobile) {
          padding: 16px 0;
        }

        @media (max-width: 360px) {
          display: block;
          margin: 0 -8px;
        }

        .beer-content-stat {
          padding-right: 32px;
          margin-right: 16px;
          border-right: 1px solid $black;

          @media (max-width: $mobile) {
            padding-right: 12px;
            margin-right: 12px;
          }

          @media (max-width: 360px) {
            width: 50%;
            float: left;
            margin: {
              right: 0;
              bottom: 16px;
            }
            padding: {
              left: 8px;
              right: 8px;
            }
            border: none;

            &:nth-child(3),
            &:nth-child(4) {
              margin-bottom: 0;
            }
          }

          &:last-child {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
          }

          .beer-content-stat-label,
          .beer-content-stat-value {
            display: block;
            font: {
              family: $veneer;
              size: 24px;
            }
            line-height: 1;
            letter-spacing: 1px;

            @media (max-width: $tablet-lg) {
              font-size: 20px;
            }

            @media (max-width: $mobile) {
              font-size: 16px;
            }
          }

          .beer-content-stat-label {
            margin: {
            right: auto;
              bottom: 8px;
            }

            @media (max-width: $mobile) {
              margin-bottom: 4px;
            }
          }
        }
      }

      .beer-content-scale-wrapper {
        display: flex;
        padding-top: 12px;

        @media (max-width: $tablet) {
          flex-direction: column;
        }

        .beer-content-scale-label {
          margin-right: auto;
          padding-top: 4px;
          font: {
            family: $veneer;
            size: 26px;
          }
          border-bottom: 6px solid $black;

          @media (max-width: $tablet-lg) {
            font-size: 20px;
            border-width: 5px;
          }

          @media (max-width: $tablet) {
            padding-bottom: 4px;
            border: none;
          }
        }

        .beer-content-scale {
          svg {
            @media (max-width: $tablet-lg) {
              max-width: 320px;
            }

            @media (max-width: $mobile) {
              max-width: 100%;
            }
          }
        }
      }
    }

    .beer-content-video {
      display: flex;
      align-items: center;
      margin-top: 40px;

      &:hover {
        opacity: .7;
      }

      .beer-content-video-icon {
        margin-right: 12px;
      }

      .beer-content-video-text {
        display: block;
        padding-top: 2px;
        font-family: $veneer;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 1px;
      }
    }

    .beer-image {
      max-width: 212px;
      margin: {
        left: 100px;
      }
      position: relative;

      &.beer-image-rollover {
        &:hover {
          .beer-image-main {
            opacity: 0;
          }

          .beer-image-alt {
            opacity: 1;
            visibility: visible;
          }
        }

        .beer-image-main,
        .beer-image-alt {
          transition: .3s ease;
        }

        .beer-image-alt {
          width: 110%;
          height: 110%;
          position: absolute;
          top: auto;
          bottom: 0;
          margin-left: -5%;
          left: 0;
          background-size: cover;
          opacity: 0;
          visibility: hidden;
        }
      }

      @media (max-width: $tablet-lg) {
        max-width: 124px;
        margin: {
          left: 60px;
          bottom: 0;
        }
      }

      @media (max-width: $tablet) {
        order: -1;
        max-width: 100px;
        margin: 0 0 4px;
      }

      @media (max-width: $mobile) {
        max-width: 72px;
        margin: 0;
      }
    }
  }

  &.beer-section-alt {
    .beer-image {
      order: -1;
      margin: {
        left: 0;
        right: 100px;
      }

      @media (max-width: $tablet-lg) {
        margin-right: 60px;
      }
    }
  }

  &.beer-section-dark {
    @extend %section-dark-bg;
    color: $white;
    border-color: #000;

    .beer-content-description,
    .beer-content-stats,
    .beer-content-scale-label {
      border-color: #000 !important;
    }
  }

  &#brewers-lager {
    .beer-content-title,
    .beer-content-stat-value {
      color: $red;
    }

    .beer-content-video-text {
      color: $red;
    }
  }

  &#cape-pale-ale,
  &#atlantic-weiss {
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background: {
        position: center bottom -60px;
        size: contain;
        repeat: no-repeat;
      }
      z-index: -1;

      @media (max-width: $tablet-lg) {
        background-position: center bottom;
        opacity: .8;
      }

      @media (max-width: $tablet) {
        background-size: cover;
        opacity: .6;
      }
    }
  }

  &#cape-pale-ale {
    &:before {
      background-image: url('assets/img/beers/bg/cape-pale-ale-bg.png');
    }

    .beer-content-title,
    .beer-content-stat-value {
      color: #00A61D;
    }

    .beer-content-video-text {
      color: #00A61D;
    }
  }

  &#atlantic-weiss {
    &:before {
      background-image: url('assets/img/beers/bg/atlantic-weiss-bg.png');
    }

    .beer-content-title,
    .beer-content-stat-value {
      color: #0064B7;
    }

    .beer-content-video-text {
      color: #0064B7;
    }
  }

  &#butcher-block,
  &#lumberjack,
  &#skeleton-coast-ipa,
  &#fresh-hop,
  &#wolves-of-winter,
  &#mega-ale {
    .beer-section-bg {
      max-width: 100%;
      position: absolute;
      opacity: .3;
    }
  }

  &#butcher-block {
    .beer-section-bg {
      left: 5vw;
      top: 10%;
    }

    .beer-content-title,
    .beer-content-stat-value,
    .beer-pairing {
      color: #D0333A;
    }

    .beer-content-video-text {
      color: #D0333A;
    }
  }

  &#lumberjack {
    .beer-section-bg {
      top: 0;
      right: 0;
    }

    .beer-content-title,
    .beer-content-stat-value,
    .beer-pairing {
      color: #DF4306;
    }

    .beer-content-video-text {
      color: #DF4306;
    }
  }

  &#skeleton-coast-ipa {
    .beer-section-bg {
      top: 0;
      left: 0;
    }

    .beer-content-title,
    .beer-content-stat-value,
    .beer-pairing {
      color: #F5A900;
    }

    .beer-content-video-text {
      color: #F5A900;
    }
  }

  &#fresh-hop,
  &#wolves-of-winter,
  &#mega-ale {
    background: {
      size: cover;
      position: center;
    }
  }


  &#fresh-hop {
    background-image: url('/wp-content/themes/jb-web/assets/img/beers/bg/fh-bg-3.png');

    .beer-section-bg {
      top: 0;
      left: 0;
    }

    .beer-content-title,
    .beer-content-stat-value,
    .beer-pairing {
      color: #3BA935;
    }

    .beer-content-video-text {
      color: #3BA935;
    }
  }

  &#wolves-of-winter {
    background-image: url('/wp-content/themes/jb-web/assets/img/beers/bg/ww-bg-2.png');

    .beer-section-bg {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .beer-content-title,
    .beer-content-stat-value,
    .beer-pairing {
      color: #F5A800;
    }

    .beer-content-video-text {
      color: #F5A800;
    }
  }

  &#mega-ale {
    background-image: url('/wp-content/themes/jb-web/assets/img/beers/bg/ma-bg-2.png');

    .beer-section-bg {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .beer-content-title {
      color: #FFDD27;
    }

    .beer-content-subtitle,
    .beer-content-stat-value,
    .beer-pairing {
      color: #E61C83;
    }

    .beer-content-video-text {
      color: #E61C83;
    }
  }
}


// ==================== Brewery Page ==================== //

.venue-hire {
  .section-header {
    .section-title {
      margin-top: 3px;
      color: $white;
    }
  }
}


// ==================== Story Page ==================== //

.ambassadors {
  .ambassadors-grid {
    max-width: 1124px;
    margin: 60px auto 0;
    @extend %clearfix;

    @media (max-width: $tablet) {
      margin: 40px auto 0;
    }

    .ambassador-wrap {
      float: left;
      width: calc(50% - 36px);
      height: 360px;
      margin-bottom: 52px;
      position: relative;
      background: {
        size: cover;
        position: center;
      }

      @media (max-width: $tablet-lg) {
        width: calc(50% - 20px);
      }

      @media (max-width: $tablet) {
        width: 100%;
        float: none;
        margin-bottom: 32px;
      }

      @media (max-width: $mobile) {
        height: 300px;
      }

      &:nth-child(odd) {
        margin-right: 72px;

        @media (max-width: $tablet-lg) {
          margin-right: 40px;
        }

        @media (max-width: $tablet) {
          margin-right: 0;
        }
      }

      .ambassador-inner {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        background: rgba(35, 31, 32, .8);
        text-align: center;
        padding: 24px;
      }
    }
  }

  .btn-container {
    @media (max-width: $tablet) {
      margin-top: 24px;
    }

    @media (max-width: $mobile) {
      margin-top: 8px;
    }
  }
}


// ==================== Single Ambassador Template ==================== //

.single-ambassador {
  .ambassador {
    padding-bottom: 100px;

    @media (max-width: $tablet) {
      padding-bottom: 60px;
    }

    .ambassador-intro {
      padding-bottom: 0;

      .section-header {
        .section-title {
          padding-top: 4px;
        }
      }

      .content-large {
        max-width: 80%;
      }

      .sidebar-right {
        @media (max-width: $tablet-lg) {
          display: none;
        }

        .sidebar {
          .sidebar-widget-title {
            color: $red;
          }
        }
      }
    }

    .ambassador-post-content {
      p {
        max-width: 80%;
        padding-left: 106px;
        margin: 0 0 32px;
        font-size: 17px;
        line-height: 2;

        @media (max-width: $tablet-lg) {
          max-width: 100%;
          padding-left: 0;
        }
      }

      .wp-block-gallery {
        margin: 100px 0 72px;

        @media (max-width: $tablet-lg) {
          margin: 64px 0 52px;
        }

        @media (max-width: $mobile) {
          margin: 40px 0;
        }

        .blocks-gallery-item {
          width: calc((100% - 52px) / 2);
          max-height: 75vh;
          margin: 0 52px 16px 0;

          @media (max-width: $tablet) {
            width: calc((100% - 20px) / 2);
            margin: 0 20px 16px 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .wp-block-image {
        margin: 100px 0 72px;
        text-align: center;

        @media (max-width: $tablet-lg) {
          margin: 64px 0 52px;
        }

        @media (max-width: $mobile) {
          margin: 40px 0;
        }
      }
    }

    .btn-container {
      margin-top: 60px;
    }
  }
}


// ==================== Journal Archive / Search Results Template ==================== //

.journal-section,
.search-section {
  padding: 64px 0;

  @media (max-width: $desktop) {
    padding: 52px 0;
  }

  @media (max-width: $tablet) {
    padding: 40px 0;
  }

  .container {
    max-width: 1664px;
    padding: {
      left: 60px;
      right: 60px;
    }

    @media (max-width: $desktop) {
      padding: {
        left: 36px;
        right: 36px;
      }
    }

    @media (max-width: $tablet) {
      padding: {
        left: 24px;
        right: 24px;
      }
    }
  }

  .sidebar-wrapper {
    @media (max-width: $tablet-lg) {
      flex-direction: column;
    }

    .posts {
      width: 72%;
      margin-right: 80px;

      @media (max-width: $desktop) {
        width: 100%;
        margin-right: 40px;
      }

      .post {
        margin-bottom: 80px;

        @media (max-width: $tablet-lg) {
          margin-bottom: 40px;
        }

        &.post-featured {
          .post-image {
            margin-bottom: 32px;

            @media (max-width: $tablet-lg) {
              margin-bottom: 24px;
            }

            img {
              width: 100%;
            }
          }

          .post-inner {
            align-items: unset;

            @media (max-width: $desktop) {
              flex-direction: column;
            }

            .post-left {
              border-right: 1px solid $grey;

              @media (max-width: $desktop) {
                border-right: none;
              }

              @media (max-width: $tablet) {
                margin-bottom: 0;
              }

              .post-title {
                padding-right: 32px;

                @media (max-width: $desktop) {
                  padding-right: 0;
                }
              }
            }
          }
        }

        .post-inner {
          display: flex;
          align-items: flex-end;

          @media (max-width: $desktop) {
            align-items: flex-start;
          }

          @media (max-width: $tablet) {
            flex-direction: column;
          }

          .post-left,
          .post-right {
            flex-grow: 1;
          }

          .post-left {
            width: 320px;
            min-width: 320px;
            margin-right: 40px;

            @media (max-width: $desktop) {
              width: 260px;
              min-width: 260px;
            }

            @media (max-width: $tablet-lg) {
              margin-right: 32px;
            }

            @media (max-width: $tablet) {
              width: auto;
              min-width: unset;
              max-width: 360px;
              margin: {
                right: 0;
                bottom: 20px;
              }
            }

            @media (max-width: $mobile) {
              width: 100%;
              max-width: 100%;
            }
          }

          .post-right {
            padding-bottom: 8px;
          }

          .post-image {
            img {
              @media (max-width: $mobile) {
                width: 100%;
              }
            }
          }

          .post-title {
            margin: 0 0 12px;

            @media (max-width: $desktop) {
              font-size: 30px;
            }

            a {
              font-size: 32px;
              line-height: 1.1;

              @media (max-width: $tablet-lg) {
                font-size: 24px;
              }
            }
          }

          .post-date {
            display: block;
            margin-bottom: 12px;
            font: {
              size: 17px;
              weight: bold;
            }

            @media (max-width: $tablet-lg) {
              font-size: 14px;
            }
          }

          .post-excerpt {
            margin: 0 0 40px;

            @media (max-width: $desktop) {
              margin: 0 0 28px;
            }

            @media (max-width: $tablet-lg) {
              margin: 0 0 20px;
            }
          }

          .btn {
            font-size: 24px;

            @media (max-width: $tablet-lg) {
              font-size: 20px;
            }
          }
        }
      }
    }

    .sidebar-right {
      flex-grow: 1;
      position: relative;

      @media (max-width: $tablet-lg) {
        width: 100%;
        overflow: hidden;
      }

      .sidebar-pattern {
        max-width: unset;
        position: absolute;
        top: 0;
        left: 0;
      }

      .sidebar {
        margin-top: 80px;

        @media (max-width: $tablet-lg) {
          padding-left: 0;
          border-left: none;
        }
      }
    }
  }

  .nav-links {
    font-family: $veneer;
    font-size: 28px;
    text-align: center;

    * {
      margin: 0 8px;
    }

    a {
      color: $red;

      &:hover {
        color: $black;
      }
    }
  }
}


// ==================== Single Journal Template ==================== //

.journal-single {
  padding: 64px 0;

  @media (max-width: $desktop) {
    padding: 40px 0;
  }

  .container {
    max-width: 1664px;
    padding: {
      left: 60px;
      right: 60px;
    }

    @media (max-width: $desktop) {
      padding: {
        left: 36px;
        right: 36px;
      }
    }

    @media (max-width: $tablet) {
      padding: {
        left: 24px;
        right: 24px;
      }
    }

    .sidebar-wrapper {
      @media (max-width: $tablet-lg) {
        flex-direction: column;
      }

      .sidebar-left {
        flex-grow: 1;
        margin-right: 40px;

        @media (max-width: $tablet-lg) {
          margin-right: 0;
        }

        .post-image {
          img {
            width: 100%;
          }
        }

        .standard-content-section {
          padding: 80px 0;

          @media (max-width: $tablet-lg) {
            padding: 40px 0;
          }

          .standard-content-section-inner {
            .post-content {
              p {
                margin: 0 0 32px;

                &:first-child {
                  font: {
                    family: $veneer;
                    size: 20px;
                  }
                  letter-spacing: 1px;

                  @media (max-width: $tablet) {
                    margin: 0 0 20px;
                  }

                  @media (max-width: $mobile) {
                    font-size: 18px;
                  }
                }

                &:last-child {
                  margin-bottom: 0;
                }

                @media (max-width: $tablet) {
                  margin: 0 0 20px;
                }
              }

              a {
                color: $red;

                &:hover {
                  color: $black;
                }
              }

              .wp-block-gallery {
                margin: 64px 0 40px;

                @media (max-width: $mobile) {
                  margin: 40px 0;
                }

                .blocks-gallery-item {
                  width: calc((100% - 52px) / 2);
                  max-height: 75vh;
                  margin: 0 52px 16px 0;

                  @media (max-width: $tablet) {
                    width: calc((100% - 20px) / 2);
                    margin: 0 20px 16px 0;
                  }

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }

              .wp-block-image {
                margin: 64px 0 40px;
                text-align: center;

                @media (max-width: $mobile) {
                  margin: 40px 0;
                }
              }
            }
          }

          .btn-container {
            margin-top: 60px;

            @media (max-width: $tablet) {
              margin-top: 40px;
            }
          }
        }
      }

      .sidebar-right {
        width: 320px;
        min-width: 320px;
        position: relative;

        @media (max-width: $desktop-lg) {
          width: 260px;
          min-width: 260px;
        }

        @media (max-width: $tablet-lg) {
          width: 100%;
          min-width: unset;
          overflow: hidden;
        }

        .sidebar-pattern {
          max-width: unset;
          position: absolute;
          top: 0;
          left: 0;
        }

        .sidebar {
          margin-top: 80px;

          @media (max-width: $tablet-lg) {
            padding-left: 0;
            border-left: none;
          }
        }
      }
    }
  }
}


// ==================== Shop Templates ==================== //

.woocommerce {
  .woocommerce-result-count,
  .woocommerce-ordering {
    display: none;
  }

  span.onsale {
    padding: 0;
    background: $black;
  }

  div.product {
    .woocommerce-product-gallery__image {
      text-align: center;
    }

    div.images img {
      display: inline-block;
      width: auto;
    }

    span.price,
    p.price {
      font-family: $veneer;
      color: $black;
      font-size: 32px;
    }

    form.cart {
      margin-top: 32px;
    }
  }

  ul.products {
    li.product {
      text-align: center;

      a img {
        width: auto;
        height: auto;
        display: inline-block;
        margin: 0 0 -2em;
      }

      .woocommerce-loop-product__title {
        color: $black;
        font-size: 24px;
        letter-spacing: 1px;
      }

      .price {
        font-size: 16px;
        color: $grey-dark;
      }

      .added_to_cart {
        font-size: 100%;
        font-family: $veneer;
        margin: 0;
        line-height: 1;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        overflow: visible;
        padding: 0.618em 1em;
        font-weight: 700;
        left: auto;
        color: $white;
        background-color: $black;
        border: 0;
        display: inline-block;
        background-image: none;
        box-shadow: none;
        text-shadow: none;
        letter-spacing: 1px;

        &:hover {
          background: $grey;
          color: $white;
        }
      }
    }
  }

  form {
    .form-row{
      input.input-text,
      textarea {
        min-height: 36px;
        font: {
          size: 14px;
          family: $meta;
        }
        padding: 0 10px;
        line-height: 36px;
        border: none;
        background: $off-white;
      }

      textarea {
        padding: 10px;
      }
    }
  }

  a,
  button {
    color: $black;

    &.button {
      background: $black;
      color: $white;
      border-radius: 0;

      &:hover {
        background: $grey;
        color: $white;
      }

      &.alt,
      &.add_to_cart_button {
        background: $red;

        &:hover {
          background: $grey;
        }
      }

      &:disabled {
        color: $white !important;
      }
    }
  }

  .return-to-shop {
    text-align: center;
  }
}

.woocommerce-cart-form {
  table.cart {
    .product-name {
      a {
        font-family: $veneer;
        letter-spacing: .8px;
      }
    }

    .actions {
      .coupon {
        #coupon_code {
          width: auto !important;
          height: 36px;
          font: {
            size: 14px;
            family: $meta;
          }
          padding: 0 10px;
          line-height: 36px;
          margin-right: 8px;
          border: none;
          background: $off-white;
        }
      }
    }
  }
}

.woocommerce-message,
.woocommerce-info {
  border-top-color: $black;

  &:before {
    color: $black;
  }
}

body.single-product {
  .sidebar-left {
    margin-right: 0;
  }

  .sidebar-right {
    display: none;
  }
}

.cart-link {
  position: relative;

  .cart-count {
    position: absolute;
    background: $red;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $white;
    line-height: 8px;
    padding-bottom: 2px;
    top: -10px;
    right: -6px;
    font-size: 14px;
  }
}